<script src="{{ JS_DIR }}/teste_f.js"></script>

<div class="row justify-content-md-center">
    <div class="col-md-auto border border-dark-subtle p-2 border-4 rounded-1">
        <div style="font-size: 36px; font-family: Arial, Helvetica, sans-serif;" class="text-dark fw-bold text-center p-2">
            Teste F
        </div>

        <form action="./index.php?controle=teste_f" method="post">
            <div style="width: 40vw; height: 10vh; font-family: Arial, Helvetica, sans-serif; font-size: 20px; text-align: center;">
            <label class="text-dark fw-bold mb-2 mx-2 ">Digite no mínimo dois valores em cada amostra</label>
            </div>   

            <div id="entradas_a">
                <label for="amostra_a"  class="text-dark fw-bold mb-2 mx-2 ">Amostra A</label>
                <input type="number" class="form-control" required placeholder="Digite e precione 'Enter'"
                    name="amostra_a[]" id="amostra_a" 
                    value=""
                    onkeydown="teclaApertadaA(event)" />
            </div>
            <br>
            <div id="entradas_b">
                <label for="amostra_b"  class="text-dark fw-bold mb-2 mx-2 ">Amostra B</label>
                <input type="number" class="form-control" required placeholder="Digite e precione 'Enter'"
                    name="amostra_b[]" id="amostra_b" 
                    value=""
                    onkeydown="teclaApertadaB(event)" />
            </div>
        
           <br>
            <button type="submit" class="btn btn-dark rounded-3 mx-2" name="acao" value="calcular">Calcular</button>
        </form>
    </div>
</div>