<div class="row justify-content-md-center">
    <div class="col-md-auto border border-dark-subtle p-2 border-4 rounded-1">
        <div style="font-size: 36px; font-family: Arial, Helvetica, sans-serif;" class="text-dark fw-bold text-center p-2">
            Resultado do Teste F
        </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td></td>
                        <td>Média</td>
                        <td>Variância</td>
                    </tr>
                </thead> 
                
                <tbody>            
                    <tr>
                        <td>Amostra A</td>
                        <td>{{ mediaA }}</td>
                        <td>{{ varianciaA }}</td>
                    </tr>
            
                    <tr>
                        <td>Amostra B</td>
                        <td>{{ mediaB }}</td>
                        <td>{{ varianciaB }}</td>
                    </tr>
            
                    <tr>
                        <td>F calculado</td>
                        <td>{{ fCalculado }}</td>
                    </tr>
                </tbody>

            </table>
    </div>
</div>