<div class="row justify-content-md-center" style="margin-top: 17vh">
    <div class="col-md-auto border border-dark-subtle p-2 border-4 rounded-1">
        <div style="font-size: 36px; font-family: Arial, Helvetica, sans-serif;" class="text-dark fw-bold text-center p-2">
            Resultado do Teste F
        </div>
            <table class="table table-bordered">
                <thead>
                    <tr style="border-color: rgba(250, 235, 215, 0);">
                        <td style="border-color: rgba(250, 235, 215, 0);"></td>
                        <td class="table-active" style="text-align: center"><b>Média</b></td>
                        <td class="table-active" style="text-align: center"><b>Variância</b></td>
                    </tr>
                </thead> 
                
                <tbody>            
                    <tr>
                        <td class="table-active" style="text-align: center"><b>Amostra A</b></td>
                        <td style="text-align: right">{{ mediaAFormatada }}</td>
                        <td style="text-align: right">{{ varianciaAFormatada }}</td>
                    </tr>
            
                    <tr>
                        <td class="table-active" style="text-align: center"><b>Amostra B</b></td>
                        <td style="text-align: right">{{ mediaBFormatada }}</td>
                        <td style="text-align: right">{{ varianciaBFormatada }}</td>
                    </tr>
            
                    <tr>
                        <td class="table-active" style="text-align: center"><b>F calculado</b></td>
                        <td style="text-align: center;" colspan="2">{{ fCalculado }}</td>
                    </tr>
                </tbody>

            </table>
    </div>
</div>