<div class="d-flex justify-content-center mt-4">
    <form method="post" action="./index.php?controle=teste_tukey&acao=calcular">
        <input type="hidden" name="n_blocos" value="{{ J }}" />
        
        <table style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;" class="table table-bordered border-dark table-sm table-striped table-hover">
            <thead class="text-center table-info border-dark">
                <tr>
                    <th rowspan="2">Tratamentos</th>
                    <th colspan="{{ J }}">Blocos</th>
                </tr>

                <tr>
                    {% for j in 0..J - 1 %}
                        <th>{{ j + 1 }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for i in 0..I - 1 %}
                    <tr>
                        <td><input type="text" name="tratamentos[]" style="width: 150px;"/></td>

                        {% for j in 0..J - 1 %}
                            <td>
                                <input type="text" name="leituras[{{ i }}][{{ j }}]" style="width: 70px;" />
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="d-md-flex justify-content-md-center">
            <input type="submit" class="btn btn-dark rounded-3" value="Calcular ANOVA" />
        </div>
    </form>
</div>