.custom-btn {
    background-color: rgb(160, 23, 23);
}

.container-sm{
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.custom-id {
    text-align: center;
    vertical-align: middle;
    width: 50px;
}

.custom-nome {
    vertical-align: middle;
}

.custom-opcoes {
    width: 170px;
    text-align: center;
    vertical-align: middle
}