.background {
    background-image: url(../../../imagens/miniatura_logo.png);
    background-position: left bottom;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.card {
    border-color: rgb(160, 23, 23);
    max-width: 35rem;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.card-quest {
    border-color: rgb(160, 23, 23)ed;
    max-width: 55rem;
}

.card-header {
    font-size: 40px;
    color: rgb(160, 23, 23);
    background-color: transparent;
}

.custom-btn {
    background-color: rgb(46, 136, 43);
}

.custom-btn-cadastrados{
    background-color: rgb(160, 23, 23);
}

.form-control {
    background-color: rgb(248, 247, 247);
}

.custom-form {
    font-size: 18px;
}
