<meta charset="utf-16">
<style>
 .bot {
	background-color:#ffff00;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
</style>
<body style="background-color: FF0000;">
 <div style="font-size: 32;text-align: center; font-family: Roboto Serif">
  <p style="color: #000000; background-color: #FFFF00">CADASTRO DE ADMIN</p>
 </div>
 <br> 
 <center><img src="./imagens/logo.png" class="logo"></center><br>
 <center><div font-size:22px;>Nome:  </div><input type="text"; id: "nomeA"; style="width: 750px; height: 31px;"placeholder="Nome"></center><br>
 <center><div font-size:22px;>E-mail:  </div><input type="text"; id: "emailA"; style="width: 750px; height: 31px;"placeholder="E-mail"></center><br>
 <center><div font-size:22px;>Senha:  </div><input type="text"; id: "senhaA"; style="width: 750px; height: 31px;" placeholder="Senha"></center><br>
 <center><div font-size:22px;>id:  </div><input type="text"; id: "id"; style="width: 750px; height: 31px;" placeholder="ID"></center><br>
 <center><a href="#" class="bot">CADASTRAR ADMIN</a></center>
</body>