<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../../css/admin/cadastro/tela_cadastro.css">
</head>
<body class="background">
	<div class="d-flex justify-content-center align-items-center p-5">
		<div class="card w-80 shadow p-2 mb-5 bg-body-tertiary rounded">
			<div class="card-header text-center">Cadastro de Administradores</div>
			<div class="card-body">
				<form method="post" action="./index.php?controle=administrador&acao=salvar"> <!-- conferir link-->
				{% if mensagem != "" %}
					<div class="alert alert-{{ tipo_mensagem}}" role="alert">
						{{ mensagem }}
					</div>
				{% endif %}

					<div class="form-floating mb-3 ">
						<div class="col-md inputNome ">
							<div class="form-floating p-3 custom-form">
								<input type="text" class="form-control" name="nome" placeholder="nome" id="nome"/>
								<label for="floatingInput">Nome</label>
							</div>
						</div>
						<div></div>
						<div class="col-md inputEmail">
							<div class="form-floating p-3 custom-form">
								<input type="email" class="form-control" name="email" placeholder="email" id="email"/>
								<label for="floatingInput">Email</label>
							</div>
						</div>
						
						<div class="col-md inputSenha">
							<div class="form-floating custom-form">
								<input type="password" class="form-control" name="senha" placeholder="senha" id="senha"/>
								<label for="floatingInput">Senha</label>
							</div>
						</div>
					</div>
					<div class="text-center">
						<button class="btn btn-success custom-btn" type="submit">Cadastrar</button>
						<a class="btn btn-danger custom-btn-cadastrados" href="./index.php?controle=administrador&amp;acao=listar"> Administradores Cadastrados</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
</body>
</html>



