html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: #fab200;
    font: 12px "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    text-rendering: optimizelegibility;

    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;

    -moz-tap-highlight-color:rgba(0,0,0,0); 
    -moz-text-size-adjust: none;
    -moz-font-smoothing: antialiased;

    -ms-tap-highlight-color:rgba(0,0,0,0); 
    -ms-text-size-adjust: none;
    -ms-font-smoothing: antialiased;
}