body {
    background-image: url("../imagens/BGlfundo.png");
}

#painel_conceitos {
    line-height: 1.3;
    width: 800px;
    margin: 0px;
    padding: 10px;
    height: 0 auto;
    margin: 0 auto;
    border-style: solid;
    background-color: white;
}

#painel_conceitos #acessorapido {
    margin: 0px;
    padding: 0px;
}
