.paineldiv {
    margin: 0px 0px 0px 0px ; 
    padding: 0px; 
    height: 0px;
    width: 0x; 
}

.tabela-login{
    margin: 300px 40px 0px 200px;
}

.painel{
    position: relative;
    background: #ffffff;
    width: 1600px;
    height: 850px;
    box-shadow: 0px 5px 50px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 6%;
    top: 3%;
}

.logo{
    height: 200px;
    width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    top: 15%;
    left: 19%;
    position: absolute;
}

div {
    display: inline-block;
}

body{
    padding: 0px;
    margin: 0px;
}

.cadastro{
    height: 850px;
    width: 800px;
    margin: -3px 0px 0px -7px;
    background-color: #eccc11;
    font-family: Arial;

  

}

input{ 
    padding: 20px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
}

button{
    padding: 12px 200"20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-longo{
    width: 400px;
}

h1{
    margin: 0px;
    padding: 0px;
    font-family:Arial Bold;
    font-size: 45px;
}

h5{
    margin: 0px;
    padding: 0px;
    color: rgb(90, 90, 90);
    font-weight: 100;
    font-family:Arial;
}

#tdsubtitulo{
    border-bottom: groove 0.5px rgb(216, 216, 216);
    padding: 10px;
    font-family: Arial;
} 

button[type=submit]:hover {
    background-color: #ec0b0bc4;
    transition: 2s;
    color: rgb(230, 230, 230);
    font-size: 15px;
}

button[type=submit] {
    width: 200px;
    margin: 40px 0;
    padding: 14px 20px;
    border-radius: 30px;
    transition: 2s;
    background-color: rgb(82, 173, 87);
    color: rgb(255, 255, 255);
    font-size: 15px;
    cursor: pointer;
    border: none;   
}
.Lembrar{
    position: absolute;
    top: 60%;
    left: 14%;
}
#esqsenha{
    position: absolute;
    left: 27%;
    top: 60%;
}
#imagemlogin{
    position: absolute;
    top: 8%;
    left: 44%;
}