/* @group Reset */

html, body, .menu div,
h1, h2, h3, blockquote,
ol, ul, li,
menu, nav {
	margin: 0;
	padding: 1px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
       
}
h1{
    font-family: arial;
    font-size: 30px;
}

body {
	line-height: 1;
}
.menu ol, .menu ul {
	list-style: none;
}
.menu blockquote, .menu q {
	quotes: none;
}
.menu blockquote:before, .menu blockquote:after,
.menu q:before, .menu q:after {
	content: '';
	content: none;
}
.menu table {
	border-collapse: collapse;
	border-spacing: 0;
}
.menu a{cursor: pointer;}

/* @end */

.menu {
	/*background-color: #fab200;*/
	
	
	font: 12px "Open Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #9aa6af;
	text-rendering: optimizelegibility;
	
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	
	-moz-tap-highlight-color:rgba(0,0,0,0); 
	-moz-text-size-adjust: none;
	-moz-font-smoothing: antialiased;
	
	-ms-tap-highlight-color:rgba(0,0,0,0); 
	-ms-text-size-adjust: none;
	-ms-font-smoothing: antialiased;
}
.menu a {text-decoration: none;
	outline:none;}

.menu .container {
	overflow: hidden;
	background-color: #000;

/*  Prevents Flickering  */
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}




.menu #header_menu {
	height: 60px;
	position: relative;
	background-image: linear-gradient(#FFD700, #FFA500);
	border-bottom: solid;
	border-color: white;
	border-width: 0.5px;
}
.menu #header_menu h1 a {
	color: #fff;
	text-align: left;
	font-size: 27px;
	line-height: 60px;
	font-weight: bold;
	padding-left: 20px;
}
.menu #header_menu h1 a:hover {color: #2d2321;}

.menu .burger {
	position: absolute;
	float: left;
	padding: 10px;
	top: 4px;
	left: 10px;
	cursor:pointer;
	
	display: none;
}
.menu .burger li {
	width: 30px;
	height: 4px;
	background-color: #fff;
	border-radius: 3px;
	margin: 5px 0;
	
}
.menu .burger.open li {background-color: #d9dde1;}

.menu nav {
	position: absolute;
	top: 0;
	right: 5px;

}
.menu nav li {
	float: left;
	
	display: inline-block;
}
.menu nav li a {
	font-size: 14px;
	color: #fff;
	padding: 22px 15px;
	font-weight:600;
	
	display: block;
}
.menu nav li a:hover {color: #2d2321;}



@media only screen and (max-width: 1050px) {




.menu #header_menu {
	height: 60px;
	z-index: 2;
	background-color: #f04949;
	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	
		/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.menu #header_menu h1 a {
	color: #ffffff;
	text-align: center;
	padding-left: 70px;
	display: block;
}
.menu .burger {display: block;}


/*  Nav Drawer Layout  */
.menu nav {position: relative;
	
}


.menu nav ul {
	height: 100%;
	overflow-y: auto;
	background-image: linear-gradient(#FFD700, #FFA500);

	
}
.menu nav li {
	display: block;
	float: none;
	
	
}
.menu nav li a {
	padding: 21px 25px;
	letter-spacing: 3px;
	font-size: 14px;
	background-image: linear-gradient(#FFD700, #FFA500);
	color: black;
	text-decoration: bold;

}
.menu nav li a.logo {
	display: none;
}
.menu nav li a.active {
	color: blaxl;
	background-color: #141e23;
}
.menu nav li a:hover {
	color: #fff;
	background-color: #19252c;
}
.menu nav li:first-child a.active,
.menu nav li:first-child a:hover 
{border-radius: 10px 0 0 0;}




/* NAVIGATION ANNIMATION */
.menu nav {
	width: 93%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	background-color: #1d2d35;
	border-radius: 8px;
	
	/* starting point */
	opacity: .3;
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-moz-transform: translate3d(5%,0,0)scale(.97);
	transform: translate3d(5%,0,0)scale(.97);
}

/*Nav Expanding Open Effect*/
.menu nav.open {
	opacity: 1;

	-webkit-transform: translate3d(0,0,0)scale(1);
	-webkit-animation: slideIn .35s ease-in-out;
	
	-moz-transform: translate3d(0,0,0)scale(1);
	-moz-animation: slideIn .35s ease-in-out;
	
	transform: translate3d(0,0,0)scale(1);
	animation: slideIn .35s ease-in-out;
}
@-webkit-keyframes slideIn {
	0%       {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
}
@-moz-keyframes slideIn {
	0%      {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
}
@keyframes slideIn {
	0%      {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
	100%  {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
}

/*Nav Shrinking Closed Effect*/
.menu nav.close {
	opacity: .3;
	
	-webkit-transform: translate3d(5%,0,0)scale(.97);
	-webkit-animation: slideOut .3s ease-in-out;
	
	-moz-transform: translate3d(5%,0,0)scale(.97);
	-moz-animation: slideOut .3s ease-in-out;
	
	transform: translate3d(5%,0,0)scale(.97);
	animation: slideOut .3s ease-in-out;
}
@-webkit-keyframes slideOut {
	0%      {opacity: 1;
				-webkit-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-webkit-transform: translate3d(5%,0,0)scale(.97);}
}
@-moz-keyframes slideOut {
	0%      {opacity: 1;
				-moz-transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				-moz-transform: translate3d(5%,0,0)scale(.97);}
}
@keyframes slideOut {
	0%      {opacity: 1;
				transform: translate3d(0,0,0)scale(1);}
	100%  {opacity: .3;
				transform: translate3d(5%,0,0)scale(.97);}
}



/* CONTENT ANNIMATION */
.menu .content {
	/* starting point */
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 1;
}

/*Content Sliding Open Effect*/
.menu #header_menu.open,
.menu .content.open 
{   
	-webkit-transform: translate3d(240px,0,0);
	-webkit-animation: open .5s ease-in-out;
	
	-moz-transform: translate3d(240px,0,0);
	-moz-animation: open .5s ease-in-out;
	
	transform: translate3d(240px,0,0);
	animation: open .5s ease-in-out;
}
@-webkit-keyframes open {
	0%      {-webkit-transform: translate3d(0,0,0);}
	70%    {-webkit-transform: translate3d(260px,0,0);}
	100%  {-webkit-transform: translate3d(240px,0,0);}
}
@-moz-keyframes open {
	0%      {-moz-transform: translate3d(0,0,0);}
	70%    {-moz-transform: translate3d(260px,0,0);}
	100%  {-moz-transform: translate3d(240px,0,0);}
}
@keyframes open {
	0%      {transform: translate3d(0,0,0);}
	70%    {transform: translate3d(260px,0,0);}
	100%  {transform: translate3d(240px,0,0);}
}

/*Content Sliding Closed Effect*/
.menu #header_menu.close,
.menu .content.close 
{
	-webkit-transform: translate3d(0,0,0);
	-webkit-animation: close .3s ease-in-out;
	
	-moz-transform: translate3d(0,0,0);
	-moz-animation: close .3s ease-in-out;
	
	transform: translate3d(0,0,0);
	animation: close .3s ease-in-out;
}
@-webkit-keyframes close {
	0%      {-webkit-transform: translate3d(240px,0,0);}
	100%  {-webkit-transform: translate3d(0,0,0);}
}
@-moz-keyframes close {
	0%       {-moz-transform: translate3d(240px,0,0);}
	100%  {-moz-transform: translate3d(0,0,0);}
}
@keyframes close {
	0%       {transform: translate3d(240px,0,0);}
	100%  {transform: translate3d(0,0,0);}
}

}
