.planodefundo{
    background-color: #f6f2ef;
    width: 1729px;
    height: 780.2px;
    padding: 0px;
}

h1{
    text-align: center;
    font-family: arial;
    font-size: 32px;
}

.edite{
    font-family: arial;
    font-size: 16px;
    margin-left: 768px;
}
