.conteudo article {
    margin: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    font-family: sans-serif;
    padding:40px;
}
.conteudo p {
    font-size: medium;
    font-family: sans-serif;
    text-align: justify;
    width: 70%;
    color: black;
    margin-block-end: 40px;
}
.conteudo input[type=submit]{
    background-color: yellow;
    border: none;
    color: black;
    padding: 16px 32px;
    margin: 4px 2px;
}
.conteudo label {
    color: black;
    text-align: left;
}
.conteudo header {
    padding: 30px;
    font-family: sans-serif;
    text-align: center;
    background-color: yellow;
    width: 100%;
    margin: 0%;
    height:100%;
}

.conteudo input[type="text"]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
}
