h1{
    text-align: center;
    color: black;
}

#plano_fundo_calcu_geral{
    background-color: rgb(240, 240, 240);
    height: 662px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    text-align: center;
    color: black;
    font-size: 18px;
}

label{
    font-size: 18px;
    color: black;
}

#botao{
    text-align: center;
}

