#comandos {
    padding-bottom: 20px;
}

.comando {
    background-color: blue; 
    min-height: 50px; 
    margin-top: 10px;
}

.comando textarea {
    width: 100%;
    height: 100%;
}

.resultado {
    background-color: lightgreen;
}