#painel_conceitos {
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
    color: #000;
}

#painel_conceitos h1 {
    font-size: 22px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: auto;
    width: 600px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#painel_conceitos h2 {
    font-size: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: auto;
    width: 600px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#painel_conceitos h3 {
    font-size: 18px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0px;
    width: 300px;
    border-bottom-right-radius: 10px;

}