<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Cursos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../../css/admin/cadastro/tela_cadastro.css">
    </head>
    <body class="background">
        <div class="d-flex justify-content-center align-items-center p-5">
            <div class="card  w-50 shadow p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-header text-center">
                    {% if curso.id == "" %}
                        <h2>Cadastro de Curso</h2>
                    {% else %}
                        <h2>Editar Curso</h2>
                    {% endif %}
                </div>
                <div class="card-body">
                    <form  class="form-inline" method="post" action="./index.php?controle=curso&acao=salvar">
                        <br />
                        {% if mensagem != "" %}
                            <div class="alert alert-{{ tipo_mensagem }}" role="alert">
                                {{ mensagem }}
                            </div>
                        {% endif %}
                        <br />
                        <div class="form-floating mb-3 custom-form">
                            <input type="text" class="form-control" name="nome" id="nome" placeholder="nome" value="{{ curso.nome }}">
                            <label for="floatingInput">Curso</label>
                        </div>
                        
                        <div>
                            <!-- Ocultar id, desnecessário exibir, foi usado apenas para verificação de funcionabilidade by Mayko 
                            <label for="id">ID</label>--> 
                            <input type="hidden" class="form-control" name="id" id="id" value="{{ curso.id }}"/>                          
                            <br /><br />
                            <div class="text-center">
                                {% if curso.id == "" %}
                                    <button class="btn btn-success custom-btn" type="submit">Cadastrar</button>
                                {% else %}
                                    <button class="btn btn-success custom-btn" type="submit">Salvar</button>
                                {% endif %}
                                <a class="btn btn-danger custom-btn-cadastrados" href="./index.php?controle=curso&amp;acao=listar"> Cursos Cadastrados</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>