<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Cursos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../../css/tela_cadastro.css">
    </head>
    <body>

        <div class="d-flex justify-content-center align-items-center">
            <div class="card text-center w-50 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-header">
                  Cadastro de cursos
                </div>
                <div class="card-body">
                    <form method="post" action="./index.php?controle=curso&acao=salvar">
                        {{ mensagem }}
                        <br /><br />
                        
                        <div>
                            <!-- Ocultar id, desnecessário exibir, foi usado apenas para verificação de funcionabilidade by Mayko -->
                            <label for="id">ID</label>
                            <input type="text" class="form-control" name="id" id="id" value="{{ curso.id }}"/>
                            <br /><br />
                            
                            <label for="nome">Curso</label>
                            <input type="text" class="form-control"  name="nome" id="nome" value="{{ curso.nome }}" />
                            <br /><br />
                            
                            <button class="btn btn-danger" type="submit">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>