<link rel="stylesheet" type="text/css" href="../../../css/admin/cursos/tela_listagem.css">
<div class="container-sm">
    <h2>Listagem de Cursos</h2><hr><br>

    {% if mensagem != "" %}
        <div class="alert alert-{{ tipo_mensagem }}" role="alert">
            {{ mensagem }}
        </div>
    {% endif %}

    <table class="table table-responsive table-bordered table-hover shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <thead class="thead">
            <tr>
                <th class="custom-id">ID</th>
                <th class="custom-nome">Nome</th>
                <th class="custom-opcoes">Opções</th>
            </tr>
        </thead>

        <tbody>
            {% for item in lista %}
            <tr>
                <td class="custom-id">
                    {{ item.id }}
                </td>

                <td class="custom-nome">
                    {{ item.nome }}
                </td>

                <td>
                    <a class="btn btn-outline-primary" href="./index.php?controle=curso&acao=selecionar&id={{ item.id }}">Editar</a>
                    <a class="btn btn-outline-danger" href="./index.php?controle=curso&acao=excluir&id={{ item.id }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger custom-btn" href="./index.php?controle=curso&acao=novo">Criar novo curso</a>
    <br />
    <br />
</div>
