.caixas {
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    font: normal 16px Arial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    padding: 20px;
}

.caixa {
    border: 1px solid red;
    width: 275px;
    border-radius: 15px;
    display: inline-block;
    padding: 20px;
}

.caixa:hover {
    background-color: #f0f0f0;
}

.caixa a {
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-size: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    cursor: pointer;
}

.caixa a:first-child {
    margin-bottom: 50px;
}