<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Cursos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cadastro de Cursos</h1>
        
        <form method="post" action="inserir.php">
            <div>
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" />
                <br /><br />
                
                <input type="submit" />
            </di>
        </form>
    </body>
</html>
