<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>index</title>

</head>
<body>
    <header>
        <h1>Frequência relativa</h1>
    </header>
    <article>
    	<div class="principal">
        <img src="Logo.png" width="360" height="350">
        <p>A frequência relativa é a divisão entre o número de vezes que um dado específico se repete,
        pela quantidade total de dados. A frequência relativa compara a quantidade de respostas de 
        um dado específico, com a quantidade total de respostas coletadas em uma pesquisa estatística. 
        Esta comparação entre uma parte das respostas em relação ao todo é feita através de uma divisão.
        </p>
	</div>
	<div class="submeter">
        <label for="frequencia">Colocar os valores desejados entre vírgulas: </label></br>
        <input type="text" id="valor" name="valor"></br>
        <input type="submit" value="Enviar"></br></br>
        </div>

    </article>
    <footer>
        <h1>VI Gincana de Estatística</h1>
    </footer>
    
</body>
</html>
