.conteudo{
    padding-top: 2rem;
}

.caixas {
    justify-content: center;
    margin: 0;
    /* border: 1px solid black; */
    border-radius: 10px;
    font: normal 16px Arial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.caixa {
    border: 2px solid rgb(0, 0, 0);
    width: 18rem;
    border-radius: 15px;
    display: inline-block;
    padding: 20px;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

a{
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    cursor: pointer;
}


p{
    font-weight: normal;
    font-size: medium;
}

.caixa:hover {
    background-color: #f0f0f0;
    border-color: rgb(160, 23, 23);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}


a:hover{
    color: rgb(160, 23, 23);
}