<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th rowspan="2">Tratamentos</th>
            <th colspan="{{ dic.J }}">Repetições</th>
            <th rowspan="2">Total</th>
        </tr>

        <tr>
            {% for j in 0..dic.J - 1 %}
                <th>{{ j + 1 }}</th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for i in 0..dic.I - 1 %}
            <tr>
                <td>{{ dic.tratamentos[i] }}</td>

                {% for j in 0..dic.J - 1 %}
                    <td style="text-align: right;">
                        {{ dic.leituras[i][j] | number_format(2, ',', '.') }}
                    </td>
                {% endfor %}

                <td style="text-align: right;">
                    {{ dic.L[i] | number_format(2, ',', '.') }}
                </td>
            </tr>            
        {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th colspan="{{ dic.J + 1 }}">TOTAL</th>
            <th>{{ dic.G | number_format(2, ',', '.') }}</th>
        </tr>
    </tfoot>
</table>

<h2>ANOVA</h2>

<table border="1">
    <thead>
        <tr>
            <th>Causa de Variação</th>
            <th title="Grau de Liberdade">GL</th>
            <th>SQ</th>
            <th>QM</th>
            <th>F</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Tratamento</td>
            <td style="text-align: right;">{{ dic.GLTrat }}</td>
            <td style="text-align: right;">{{ dic.SQTrat | number_format(3, ',', '.') }}</td>
            <td style="text-align: right;">{{ dic.QMTrat | number_format(3, ',', '.') }}</td>
            <td style="text-align: right;">{{ dic.FCalc | number_format(3, ',', '.') }}</td>
        </tr>

        <tr>
            <td>Resíduo</td>
            <td style="text-align: right;">{{ dic.GLRes }}</td>
            <td style="text-align: right;">{{ dic.SQRes | number_format(3, ',', '.') }}</td>
            <td style="text-align: right;">{{ dic.QMRes | number_format(3, ',', '.') }}</td>
        </tr>

        <tr>
            <td>Total</td>
            <td style="text-align: right;">{{ dic.GLTotal }}</td>
            <td style="text-align: right;">{{ dic.SQTotal | number_format(3, ',', '.') }}</td>
        </tr>
    </tbody>
</table>

<h2>Conclusão</h2>

{{ dic.conclusao }}