<div class="row justify-content-md-center">
    <div class="col-md-auto border border-dark-subtle p-2 border-4 rounded-1">
        <div style="font-size: 36px; font-family: Arial, Helvetica, sans-serif;" class="text-dark fw-bold text-center p-2">
            DIC
        </div>
            <form  method="POST" action="./index.php?controle=delineamentos&acao=montar_quadro_dic">
                <div style="width: 30vw; height: 10vh; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
                    <label class="text-dark fw-bold mb-2 mx-2 ">Número de Tratamentos</label>
                    <input type="text" class="form-control" name="n_tratamentos" placeholder="Digite o nº de tratamentos">
                </div>
                <br/>
                <div style=" font-family: Arial, Helvetica, sans-serif; font-size: 14px; width: 30vw; height: 10vh;">
                    <label class="text-dark fw-bold mb-2 mx-2" >Número de Repetições</label>
                    <input type="text" class="form-control" name="n_repeticoes" placeholder="Digite o nº de repetições"/>
                </div>
                    <div style="width: 30vw; height: 10vh; font-family: Arial, Helvetica, sans-serif;" class="mt-3">
                        <button type="submit" class="btn btn-dark rounded-3 mx-2">Confirmar</button>
                    </div>
                    <div class="mb-3">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <label for="#" class="form-label text-dark mx-2 fw-bold">Selecione um arquivo JSON/CSV:</label>
                            <input type="file" name="#" id="#" accept="#" class="form-control">
                            <br>
                            <button type="submit" class="btn btn-dark rounded-3 mx-2" value="Importar">Importar</button>
                        </form>
                    </div>
            </form>
    </div>
</div>