<html>
    <head>
        <title>DIC</title>

        <meta charset="utf-8" />
    </head>

    <body>
        <form method="POST" action="./index.php?controle=delineamentos&acao=montar_quadro_dic">
            Nº de Tratamentos:<br />
            <input type="text" name="n_tratamentos" />
            <br />

            Nº de Repetições:<br />
            <input type="text" name="n_repeticoes" />
            <br />

            <input type="submit" value="Confirmar" />
        </form>
    </body>
</html>