<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

<div id="painel_conceitos">
    <h1>O que são Gráficos?</h1>
    <p>Gráfico é um recurso visual da Estatística utilizado para representar um fenômeno. Sua
        utilização em larga escala nos meios de comunicação social, técnica e científica, devem-se tanto à
        sua capacidade de refletir padrões gerais e particulares do conjunto de dados em observação, como
        à facilidade de interpretação e a eficiência com que resume informações dos mesmos.</p>
    <p>Embora os gráficos forneçam menor grau de detalhes que as tabelas, estes apresentam um
        ganho na compreensão global dos dados, permitindo que se aperceba imediatamente da sua forma
        geral sem deixar de evidenciar alguns aspectos particulares que sejam de interesse do pesquisador.
        Uma representação gráfica coloca em evidência as tendências, as ocorrências ocasionais, os valores
        mínimos e máximos e também as ordens de grandezas dos fenômenos que estão sendo observados.</p>
    <br>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/DTlUwN0FHXg"
            title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    <div id="acessorapido">
        <h2>Alguns tipos de gráficos</h2>
        <ul>
            <li>
                <a href="#box" class="conteudo">
                        Box Plot
                </a>
            </li>
            <li>
                <a href="#pictogtama" class="conteudo">
                        Pictograma
                </a>
            </li>
            <li>
                <a href= "./imagens/Conteudo.pdf"
                    target="_blank"> Referências</a>
            </li>
        </ul>
    </div>
    <br>
        <div class="Box Plot" id="box"></div>
        <h3>Box Plot</h3>
        <p><b>Box Plot:</b> Box Plot (ou desenho esquemático) é uma análise gráfica que utiliza cinco
                medidas estatísticas: valor mínimo, valor máximo, mediana, primeiro e terceiro quartil da variável
                quantitativa. Este conjunto de medidas oferece a idéia da posição, dispersão, assimetria, caudas e
                dados discrepantes. A posição central é dada pela mediana e a dispersão pelo desvio interquartílico
                dq= Q3 - Q2. As posições relativas de Q1 , Q2 e Q3 dão uma noção da assimetria da distribuição.
                Os comprimentos das caudas são dados pelas linhas que vão do retângulo aos valores atípicos.</p>
        <p>Segundo Triola, um outlier ou ponto discrepante é um valor que se localiza distante
                de quase todos os outros pontos da distribuição. A distância a partir da qual considera-se um valor como discrepante é aquela que supera 1,5dq. De maneira geral, são considerados outliers todos os
                valores inferiores Li= Q1-1,5dq ou os superiores a Ls=Q3+1,5dq.</p>
        <iframe 
            width="800" height="400" src="https://www.youtube.com/embed/8DfLVj-jp_g" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
        <br><br>
        <div class="Pictograma" id="pictograma"></div>
        <h3>Pictograma</h3>
        <p><b>Pictograma:</b> Os pictogramas são gráficos que usam ícones e imagens para representar dados.</p>
        <p>Também conhecidos como “pictográficos”, “gráficos de ícones”, “gráficos de imagens” e “gráficos de unidades pictóricas”, os pictogramas usam uma série de ícones repetidos para permitir a visualização de dados simples. Os ícones são organizados em uma única linha ou grade, com cada ícone representando um certo número de unidades (geralmente 1, 10 ou 100).</p>
        <p>Uma característica de muitos infográficos excelentes é que eles costumam ser usados para tornar fatos ou pontos de dados cansativos mais atraentes.</p>
        <iframe width="800" height="400" src="https://www.youtube.com/embed/qAqa2FQb3Ls" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
</div>
