<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />
<div id="painel_conceitos">
    <h1>Conceitos Estatísticos</h1>
    <p>A Estatística é uma ciência cujo campo de aplicação estende-se a muitas áreas do
    conhecimento humano. Entretanto, um equívoco comum que deparamos nos dias atuais é que,
    em função da facilidade que o advento dos computadores nos proporciona, permitindo
    desenvolver cálculos avançados e aplicações de processos sofisticados com razoável eficiência e
    rapidez, muitos pesquisadores consideram-se aptos a fazerem análises e inferências estatísticas
    sem um conhecimento mais aprofundado dos conceitos e teorias. Tal prática, em geral, culmina
    em interpretações equivocadas e muitas vezes errôneas...</p>
    <br>
        <div id="acessorapido">
        <h2>Conceitos Fundamentais e Definições</h2>
        <ul>
            <li>
                <a href="#pesquisa_estatistica">
                    Pesquisa Estat&iacute;stica
                </a>
            </li>
            <li>
                <a href="#amostragem">
                    Amostragem
                </a>
            </li>
            <li>
                <a href="#tipos_amostragem">
                    Tipos de Amostragem
                </a>
            </li>
            <li>
                <a href="#conjuntos_subconjuntos">
                    Conjuntos-Subconjuntos
                </a>
            </li>
            <li>
                <a href="#dados_variavel">
                    Dados x Variável
                </a>
            </li>
            <li>
                <a href= "./imagens/Conteudo.pdf"
                    target="_blank"> Referências</a>
            </li>
        </ul>
    </div>
    <br>
    <div id="pesquisa_estatistica"></div>
    <h3>Pesquisa Estat&iacute;stica</h3>
    <p>A pesquisa estat&iacute;stica pode ser definida como um estudo que identifica, reúne, trata, analisa e apresenta dados para suprir determinada necessidade de informação. O avanço da tecnologia, especialmente na área de informática, contribui muito para o progresso das pesquisas estatísticas, que se tornaram mais abrangentes, diversificadas e com resultados mais confiáveis. Sem o uso da metodologia estatística é impossível atestar a validade científica a um estudo.</p>
    <p>Qualquer área do conhecimento pode ser beneficiada com o uso da estatística, desde a medicina, engenharias, economia, biologia, biomedicina, ciência política até as ciências sociais. O uso deste tipo de estudo é essencial para determinar, com mais segurança e previsões mais assertivas, qual a melhor direção a ser tomada em um assunto específico, estabelecer novos padrões, promover mudanças, compreender uma realidade e planejar ações futuras.</p>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/hiClLSjSB6k" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    <div id="amostragem"></div>
    <h3>Amostragem</h3>
    <p>Amostragem é um processo que segue técnicas de escolher membros de uma população de forma que seja possível realizar inferências sobre toda a população. Ou seja, a amostragem permite concluir sobre o todo analisando apenas partes.</p>
    <dl>
        <strong><dt>Margem de erro:</dt></strong>
        <br>
        <dd>É a diferença entre a média encontrada na amostra para a média da população. Dentro do cálculo de amostragem, a margem de erro entra como um dos parâmetros a serem inseridos. Logo, podemos perceber uma relação inversamente proporcional entre a margem de erro e o tamanho da amostra: quanto menor for a margem de erro máxima desejada, maior terá de ser a amostra.</dd>
        <br>
        <strong><dt>Aleatoriedade:</dt></strong>
        <br>
        <dd>Para termos os resultados mais próximos da verdadeira população, a seleção da nossa amostra deve ser totalmente aleatória. Porém, como garantir uma perfeita aleatoriedade? Talvez seja um assunto para um outro momento. Porém, o que podemos imaginar é que, quanto menos presa a nossa amostra for a um determinado grupo ou categoria, melhor a nossa amostra representará a população como um todo.</dd>
    </dl>
    <div id="tipos_amostragem"></div>
    <h3>Tipos de Amostragem</h3>
    <p>Existem dois principais tipos de amostragem: a probabilística e a não-probabilística. Uma amostra probabilística pode também ser denominada como fazendo parte de uma amostragem aleatória. Para esse caso, são feitos tratamentos estatísticos que compensam os erros amostrais.</p>
    <p>Isso significa dizer que a seleção dos elementos que estarão na amostra é aleatória. Além disso, a probabilidade de escolha desses elementos é conhecida. Ou seja, os elementos da amostra têm a mesma oportunidade de serem selecionados.</p>
    <p> Já a amostragem não-probabilística não apresenta uma aleatoriedade na escolha dos elementos que farão parte da amostra. Isto é, haverá uma escolha deliberada dos componentes da amostra. A escolha de cada um desses tipos de amostragem dependerá do tipo de pesquisa realizada e de critérios estabelecidos pelo próprio pesquisador.</p>
    <dl>
        <strong><dt>Amostragem probabilística:</dt></strong>
        <br>
        <dd>As amostras probabilísticas podem usar várias técnicas, sendo elas:
            <ul>
                <li>Amostragem aleatória simples;</li>
                <li>Amostragem sistemática;</li>
                <li>Amostragem estratificada;</li>
                <li>Amostragem por conglomerados ou em cacho.</li>
            </ul>
        </dd>
        <br>
        <strong><dt>Amostragem não-probabilística:</dt></strong>
        <br>
        <dd>Por sua vez, as amostras não-probabilísticas podem ser dos seguintes métodos:
            <ul>
                <li>Amostragem por conveniência ou por acessibilidade;</li>
                <li>Amostragem intencional;</li>
                <li>Amostragem por cotas;</li>
                <li>Amostragem bola de neve;</li>
                <li>Amostragem desproporcional.</li>
            </ul>
        </dd>
    </dl>
    <h4>Aplicações de amostragem:</h4>
    <p>O uso desses conceitos estatísticos são um leque de diversas opções para solucionar os mais diferentes problemas existentes na academia e no mercado de trabalho. Dizemos que as principais aplicações em torno do conceito de amostras estão em:</p>
    <ul>
        <li>Pesquisas de satisfação;</li>
        <li>Pesquisa eleitoral;</li>
        <li>Pesquisa de mercado;</li>
        <li>Pesquisa sobre algum produto e/ou serviço com consumidores;</li>
        <li>Pesquisa de opinião;</li>
        <li>Sondagens.</li>
    </ul>
    
    <p>A estatística trabalha com dados, os quais podem ser obtidos por meio de uma população ou de uma amostra, definida como:</p>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/vcTQCIfz9_M" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    <div id="conjuntos_subconjuntos"></div>
    <h3>Conjuntos-Subconjuntos</h3>
    <p>Um conjunto é uma reunião de objetos que possuem características comuns. Forma, conjuntos numéricos são aqueles cujos elementos são números. </p> 
    <p>Os subconjuntos também são conjuntos, entretanto, caracterizam-se por estar totalmente incluídos em outro conjunto qualquer. Em razão disso, a relação entre um conjunto e os seus subconjuntos é conhecida como relação de inclusão.</p>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/48nFpvAfn-E" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br><br>
    <div id="dados_variavel"></div>
    <h3> Dados x Variavel </h3>
    <br>
    <strong>Dado estatístico </strong>
    <p>O dado estatístico é um elemento que pertence ao conjunto da população, obviamente esse dado deve estar envolvido com o tema da pesquisa, os dados estatísticos, nesse contexto, são os valores obtidos na realização de um estudo estatístico. São o produto da observação do fenômeno que se pretende analisar. Para serem úteis, os dados estatísticos devem ser organizados e considerados a partir de um contexto.</p>
    <strong>Variável:</strong> 
    <p>É a característica que vai ser observada, medida ou contada nos elementos da população ou da amostra e que pode variar, ou seja, assumir um valor diferente de elemento para elemento.
    Não basta identificar a variável a ser trabalhada, é necessário fazer-se distinção entre os tipos de variáveis: qualitativa nominal, qualitativa ordinal, quantitativa discreta, quantitativa contínua.</p>

</div>
