<!DOCTYPE html>
<html  lang =" pt-br " >
<head >
    <meta  charset =" UTF-8 " >
    <meta  http-equiv = " Conteúdo compatível com X-UA "=" IE=edge " >
    <meta  name =" viewport " content =" largura=largura do dispositivo, escala inicial=1.0 " >
    <title > Conteudo da Gincana de Estatística </title >
    <link  rel =" stylesheet " type =" text/css " href =" ../../css/folha.css " />
</head >
<body >

    <div  id =" titulo " >
        <h1> "Conteudo Gincana 2022" </h1>
        <h2> CONCEITOS DE VARIÁVEIS </h2>
    </div >
    <div  class =" conceinto1 " >
        <enter> <h2> DISTRIBUIÇÃO DE FREQÜÊNCIA </h2> </center>
 <p> Como mencionado no início deste capítulo, já faça o volume de dados, torne-se
ou impraticável e atenderá a respeito do comportamento das variáveis
particular, de variáveis ​​variáveis. </P> <p>
Pode-se, no entanto, colocar os dados de cada uma das variáveis ​​abrangentes em
uma ordem crescente ou decrescente, denominada rol. Uma visualização de algum padrão ou
continua sendo de difícil observação ou até mesmo cansativa, mas torna-se
identificam maiores e menores ou conferem valores no caso de variáveis
negociais. Estes números (menor e maior valor observado) servem de ponto de partida para a

construção de tabelas para estas variáveis. Vale destacar que para variáveis ​​qualitativas, pode-
se também construir um rol em ordem temporal ou alfabética, por exemplo. </p>



        <p>
        É a diferença entre o menor e maior valor observado da variável X, denominado
        amplitude total (AT = xmax – xmin), que definirá a construção de uma distribuição de frequência
        pontual ou em aulas.
        O ideal é que uma distribuição de frequência resuma os dados em um número de linhas
        que varia de 5 a 10. </p>

        <h3> Distribuição de frequência pontual – sem perda de informação </h3>
        <p> A construção de uma distribuição de frequência pontual é equivalente à construção de
uma tabela simples, onde se listam os diferentes valores observados da variável, com suas
frequências absolutas, denotadas por Fi, onde o índice corresponde ao número de linhas da
tabela, como é balcão na Tabela 7. </p> <p> <center>

Tabela 07 – Número de irmãos dos alunos da disciplina</p><p>
Inferência Estatística do curso de Estatística da</p><p>
Universidade Estadual de Maringá, 21/03/2005.</p><p>
Número de irmãos Contagem Freqüência (Fi)</p><p>
0 | 1</p><p>
1 |||||| 6</p><p>
2 |||||||||||| 12</p><p>
3 || 2</p><p>
6 | 1</p><p>
Total 22</p><p>
Fonte: Tabela 01.</p><p></center>

Observa-se que esta variável foi resumida em 5 linhas. Assim, i = 1,...,5, e, portanto, tem-
se 5 valores para as freqüências absolutas. A freqüência absoluta da segunda linha, F2 = 6, por

exemplo, indica que seis alunos têm um irmão, enquanto apenas um afirmou ter seis irmãos. A
soma de todas as freqüências absolutas deve ser igual ao número total de observações da
variável, neste caso, 22. A segunda coluna desta tabela é uma coluna opcional em distribuições
de freqüências.</p><p>Ainda, como colunas complementares em uma distribuição de freqüências e considerando
i, a ordem da linha na tabela, tem-se:</p><p>

• a freqüência relativa, denotada por fi, e já definida anteriormente como:</p><p>




onde n é o tamanho da amostra, devendo ser substituída por N se os dados forem populacionais.
A soma das freqüências relativas de todas as categorias é igual a 1;</p><p>
• a freqüência relativa em percentual, denotada por fi%, e definida como:</p><p>



representando o percentual de observações que pertencem àquela categoria. A soma das
freqüências deve, agora, ser igual a 100%;</p><p>
• a freqüência absoluta acumulada, denotada por i Fa . Estas freqüências são obtidas
somando-se a freqüência absoluta do valor considerado, às freqüências absolutas anteriores a
este mesmo valor.</p><p>
• a freqüência acumulada relativa, denotada por i af % e definida </p><p>

</p>
        <h3>Distribuição de freqüência em classes – com perda de informação:</h3>
        <p> “A distribuição de freqüências em classes é apropriada para apresentar dados
quantitativos contínuos ou discretos com um número elevado de possíveis valores” (Medronho,
2003, p231). É necessário dividir os dados em intervalos ou faixas de valores que são
denominadas classes. Uma classe é uma linha da distribuição de freqüências. O menor valor da
classe é denominado limite inferior (li) e o maior valor da classe é denominado limite superior
(Li). O intervalo ou classe pode ser representado das seguintes maneiras:
a) li |
____ Li, onde o limite inferior da classe é incluído na contagem da freqüência absoluta

mas o superior não;</p><p>
b) li
____| Li, onde o limite superior da classe é incluído na contagem mas o inferior não;</p><p>
c) li |
____| Li, onde tanto o limite inferior quanto o superior são incluídos na contagem;</p><p>
d) li
____ Li, onde os limites não fazem parte da contagem.</p><p>
Pode-se escolher qualquer uma destas opções sendo o importante tornar claro no texto ou
na tabela qual está sendo usada.</p><p>
“Se houver muitos intervalos, o resumo não constituirá grande melhoria com relação aos
dados brutos. Se houver muito poucos, um grande volume de informação se perderá. Embora não
seja necessário, os intervalos são freqüentemente construídos de modo que todos tenham larguras
iguais, o que facilita as comparações entre as classes”. (Pagano, 2004, p.11).</p>

      <div style='text-align:right'>
      <a href="grafico.html" >Proximo conteudo tabela.  </a>
      </div>

      </div>



    <footer>
        <p>Copyright &copy; 2022 Turma de Sistemas de Informação</p>
    </footer>
</body>
</html>
