<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteudo da Gincana de Estatística</title>
    <link rel="stylesheet" type="text/css" href="./css/folha.css" />   
</head>
<body>

    <div id="titulo">
        <h1>"Conteudo Gincana 2022"</h1>
        <h2>GRÁFICOS PARA VARIÁVEIS QUANTITATIVAS CONTÍNUAS</h2>
    </div>
    <div class="conceitos1">
        <center><h2>Histograma</h2></center>
        <p>É um gráfico de colunas justapostas que representa uma distribuição de freqüência para
dados contínuos ou uma variável discreta quando esta apresentar muitos valores distintos.
No eixo horizontal são dispostos os limites das classes segundo as quais os dados foram
agrupados enquanto que o eixo vertical corresponde às freqüências absolutas ou relativas das
mesmas.
Quando os dados são distribuídos em classes de mesma amplitude, Figura 09 (a), todas as
colunas apresentam bases iguais com alturas variando em função das suas freqüências absolutas ou
relativas. Neste caso, tem-se que a área de cada retângulo depende apenas da sua altura enquanto
que no caso de dados agrupados em classes de dimensões diferentes, como mostra a Figura 9 (b), a
área de cada coluna já não é mais proporcional à sua altura. Como a altura de cada classe precisa
variar simultaneamente com sua largura, é necessário que a área de cada uma das colunas
permaneça em proporção conveniente, o que pode ser obtido dividindo-se as freqüências das classes
pelas respectivas amplitudes e construindo-se o histograma a partir destas freqüências. Portanto,
pode-se dizer que no primeiro caso, o eixo dos valores informa sobre a freqüência relativa de cada
classe, no segundo caso, tal procedimento perde todo significado, e é necessário comparar as áreas
para interpretar as informações que são expostas.</p>
          <img src="../imagens/histograma.jpg" alt="Histograma">
         <center><h2>Polígono de freqüência</h2></center>
        <p>É um gráfico de linha cuja construção é feita unindo-se os pontos de coordenadas de
abscissas correspondentes aos pontos médios de cada classe e as ordenadas, às freqüências
absolutas ou relativas dessas mesmas classes.
O polígono de freqüência é um gráfico que deve ser fechado no eixo das abscissas. Então,
para finalizar sua elaboração, deve-se acrescentar à distribuição, uma classe à esquerda e outra à
direita, ambas com freqüências zero. Tal procedimento permite que a área sob a linha de
freqüências seja igual à área do histograma.
Uma das vantagens da aplicação de polígonos de freqüências é que, por serem gráficos de
linhas, permitem a comparação entre dois ou mais conjuntos de dados por meio da superposição dos
mesmos.</p>
          <img src="../imagens/poligonodefrequencia.jpg" alt="Polígono de freqüência">
          
                   <center><h2>Gráfico da freqüência acumulada ou Ogiva</h2></center>
        <p>É um gráfico que permite descrever dados quantitativos por meio da freqüência acumulada.
A ogiva é um gráfico de linha que une os pontos cujas abscissas são os limites superiores das
classes, e, ordenadas suas respectivas freqüências acumuladas. Convém observa-se que o ponto
inicial desse gráfico é o limite inferior do primeiro intervalo, com freqüência acumulada zero, pois
não existe qualquer valor inferior a ele.
Quando os dados contidos em cada classe são distribuídos uniformemente, pode-se estimar,
a partir da ogiva, o número de elementos pertencentes a qualquer uma das classes que compõe a
distribuição de freqüência dos dados e a quantidade ou porcentagem de elementos que estão abaixo
de certo valor pertencente ao conjunto de dados.
Pela Figura 11, nota-se que não existem alunos com idade inferior a 18 anos enquanto que
abaixo de 34 anos existem vinte alunos.</p>
          <img src="../imagens/graficofrequenciaacumulada.jpg" alt="Gráfico da freqüência acumulada ou Ogiva">
                             <center><h2>Ramo-e-Folhas</h2></center>
        <p>O diagrama Ramo-e-Folhas, criado por John Tukey, é um procedimento utilizado para
armazenar os dados sem perda de informação. É utilizado para se ter uma idéia visual da
distribuição dos dados. Cada valor observado, xi, da variável X, deve consistir de no mínimo dois
dígitos e a variável pode ser tanto quantitativa discreta como contínua.
Para construí-lo, divide-se cada número em duas partes. A primeira é denominada ramo e a
segunda, folhas. O ramo consistirá de um ou mais dígitos iniciais se o valor da variável for um
número inteiro e do número inteiro, se o valor da variável for um número com decimais. Nas folhas,
colocam-se os dígitos restantes se o valor observado for número inteiro, ou os decimais, caso
contrário. A Figura 12 (a) apresenta o ramo-e-folhas correspondente a variável idade do aluno da
Tabela 01.
Observa-se que o ramo correspondente ao dígito 2 tem muitas folhas. Neste caso, a opção é
dividir este ramo em dois: as folhas de 0 a 4 pertencerão a uma linha e as folhas de 5 a 9
pertencerão à outra linha. Os ramos são discriminados por um sinal no seu expoente, como na
Figura 12 (b).</p>
          <img src="../imagens/ramoefolha.jpg" alt="Ramo-e-Folhas">
  
        
      <div style='text-align:right'>
      <a href="grafico.html" >Proximo conteudo tabela.  </a>
      </div>
	
      </div>

      

    <footer>
        <p>Copyright &copy; 2022 Turma de Sistemas de Informação</p>
    </footer>
</body>
</html>
