<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

    <div id="painel_conceitos">
        <div id="descritivas"></div>
        <h1>Distribuição de Frequência</h1>
        <p>Como já mencionado, dependendo do volume de dados, torna-se
            difícil ou impraticável tirar conclusões a respeito do comportamento das variáveis e, em
            particular, de variáveis quantitativas.
        <p>Pode-se, no entanto, colocar os dados brutos de cada uma das variáveis quantitativas em
            uma ordem crescente ou decrescente, denominado rol. A visualização de algum padrão ou
            comportamento continua sendo de difícil observação ou até mesmo cansativa, mas torna-se
            rápido identificar maiores e menores valores ou concentrações de valores no caso de variáveis
            quantitativas. Estes números (menor e maior valor observado) servem de ponto de partida para a
            construção de tabelas para estas variáveis. Vale destacar que para as variáveis qualitativas, pode-se
            também construir um rol em ordem temporal ou alfabética, por exemplo. </p>
        <p>É a diferença entre o menor e maior valor observado da variável X, denominada
            amplitude total (AT = xmax – xmin), que definirá a construção de uma distribuição de freqüência
            pontual ou em classes.
        <p>O ideal é que uma distribuição de freqüência resuma os dados em um número de linhas
            que varie de 5 a 10</p>
    <br>
        <iframe width="800" height="400" src="https://www.youtube.com/embed/vqZb_Fqj1C0" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
     <br><br>
     <div id="acessorapido">
         <h2>Tipos de Distribuição</h2>
         <ul>
             <li>
                 <a href="#frequencia_pontual">
                     Frequência Pontual
                 </a>
             </li>

             <li>
                 <a href="#frequencia_classes">
                     Frequência em Classes
                 </a>
             </li>
             <li>
                 <a href= "./imagens/Conteudo.pdf"
                     target="_blank"> Referências</a>
             </li>
         </ul>
     </div>
     <br>
     <div id="frequencia_pontual"></div>
     <h3>Frequência Pontual</h3>
     <p><b>Distribuição de Frequência Pontual:</b> A construção de uma distribuição de freqüência pontual é equivalente à construção de
        uma tabela simples, onde se listam os diferentes valores observados da variável, com suas
        freqüências absolutas, denotadas por Fi, onde o índice i corresponde ao número de linhas da
        tabela, como é mostrado na Tabela 1.</p>
     <p>Tabela 1 - Número de irmãos dos alunos da disciplina
        Inferência Estatística do curso de Estatística da
        Universidade Estadual de Maringá, 21/03/2005.</p>     
            <table border="1">
            <tr>
                    <td>Número de irmãos</td>
                    <td>Contagem</td>
                    <td>Freqüência (Fi) </td>
            </tr>
            <tr>
                    <td>0</td>
                    <td>|</td>
                    <td>1</td>
            </tr>
            <tr>
                    <td>1</td>
                    <td>||||||</td>
                    <td>6</td>
            </tr>
            <tr>
                    <td>2</td>
                    <td>||||||||||||</td>
                    <td>12</td>
            </tr>
            <tr>
                    <td>3</td>
                    <td>||</td>
                    <td>2</td>
            </tr>
            <tr>
                    <td>6</td>
                    <td></td>
                    <td>1</td>
            </tr>
            <tr>
                    <td>Total</td>
                    <td>|</td>
                    <td>22</td>
            </tr>
            
    </table>
    <p>Observa-se que esta variável foi resumida em 5 linhas. Assim, i = 1,...,5, e, portanto, temse 5 valores para as freqüências absolutas. A freqüência absoluta da segunda linha, F2 = 6, por
    exemplo, indica que seis alunos têm um irmão, enquanto apenas um afirmou ter seis irmãos. A
    soma de todas as freqüências absolutas deve ser igual ao número total de observações da
    variável, neste caso, 22. A segunda coluna desta tabela é uma coluna opcional em distribuições
    de freqüências. </p>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/zHYfM7obXQQ" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    <br><br>
     <div id="frequencia_classes"></div>
     <h3>Frequência em Classes</h3>
     <p><b>Distribuição de Frequência em Classes:</b> “A distribuição de freqüências em classes é apropriada para apresentar dados
    quantitativos contínuos ou discretos com um número elevado de possíveis valores” (Medronho,
    2003, p231). É necessário dividir os dados em intervalos ou faixas de valores que são
    denominadas classes. Uma classe é uma linha da distribuição de freqüências. O menor valor da
    classe é denominado limite inferior (li) e o maior valor da classe é denominado limite superior
    (Li). O intervalo ou classe pode ser representado das seguintes maneiras: </p>
     
   <p>a) li |---- Li, onde o limite inferior da classe é incluído na contagem da freqüência absoluta mas o superior não;</p>
   <p>b) li ----| Li, onde o limite superior da classe é incluído na contagem mas o inferior não;</p>
   <p>c) li |----| Li, onde tanto o limite inferior quanto o superior são incluídos na contagem;</p>
   <p>d) li ---- Li, onde os limites não fazem parte da contagem.</p>
   
    <p>Pode-se escolher qualquer uma destas opções sendo o importante tornar claro no texto ou
    na tabela qual está sendo usada.</p>
    <p>“Se houver muitos intervalos, o resumo não constituirá grande melhoria com relação aos
    dados brutos. Se houver muito poucos, um grande volume de informação se perderá. Embora não
    seja necessário, os intervalos são freqüentemente construídos de modo que todos tenham larguras
    iguais, o que facilita as comparações entre as classes”. (Pagano, 2004, p.11).</p>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/AZlEuUdFWNA" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
 </div>