<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

<div id="painel_conceitos">
    <h1>O que é estatística descritiva?</h1>
    <p>A Estatística é uma ciência cujo campo de aplicação estende-se a muitas áreas do conhecimento
        humano. Entretanto, um equívoco comum que deparamos nos dias atuais é que, em função da
        facilidade que o advento dos computadores nos proporciona, permitindo desenvolver cálculos
        avançados e aplicações de processos sofisticados com razoável eficiência e rapidez, muitos
        pesquisadores consideram-se aptos a fazerem análises e inferências estatísticas sem um
        conhecimento mais aprofundado dos conceitos e teorias. Tal prática, em geral, culmina em
        interpretações equivocadas e muitas vezes errôneas... </p>
    <p>Em sua essência, a Estatística é a ciência que apresenta processos próprios para coletar,
        apresentar e interpretar adequadamente conjuntos de dados, sejam eles numéricos ou não. Podese
        dizer que seu objetivo é o de apresentar informações sobre dados em análise para que se tenha
        maior compreensão dos fatos que os mesmos representam. A Estatística subdivide-se em três áreas:
        descritiva, probabilística e inferencial. A estatística descritiva, como o próprio nome já diz,
        se preocupa em descrever os dados. A estatística inferencial, fundamentada na teoria das
        probabilidades, se preocupa com a análise destes dados e sua interpretação. </p>
    <p>A estatística descritiva, como o próprio nome já diz, se preocupa em descrever os dados. Seu
        objetivo básico é o de sintetizar uma série de valores de mesma natureza, permitindo dessa forma
        que se tenha uma visão global da variação desses valores, organiza e descreve os dados de três
        maneiras: por meio de tabelas, de gráficos e de medidas descritivas. A tabela é um quadro que
        resume um conjunto de observações, enquanto os gráficos são formas de apresentação dos dados,
        cujo objetivo é o de produzir uma impressão mais rápida e viva do fenômeno em estudo. </p>
    <br>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/_ak1AsbWKEk"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    <br><br>
    <div id="acessorapido">
        <h2>Conceitos Fundamentais e Definições</h2>
        <ul>
            <li>
                <a href="#amostra">
                    Amostra
                </a>
            </li>

            <li>
                <a href="#populacao">
                    População
                </a>
            </li>
            <li>
                <a href= "./imagens/Conteudo.pdf"
                    target="_blank"> Referências</a>
            </li>
        </ul>
    </div>
    <br>
    <div id="amostra"></div>
    <h3>Amostra</h3>
    <p><b>Amostra:</b> subconjunto de elementos de uma população. Este subconjunto deve terdimensão menor
            que o da população e seus elementos devem ser representativos da população. A seleção dos elementos
            que irão compor a amostra pode ser feita de várias maneiras e irá depender do conhecimento que se
            tem da população e da quantidade de recursos disponíveis. A estatística inferencial é a área que
            trata e apresenta a metodologia de amostragem.</p>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/sniMF9fJ7Wo"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <br><br>
    <div id="populacao"></div>
    <h3>População</h3>
    <p><b>População:</b> conjunto de elementos que tem pelo menos uma característica em comum. Esta
            característica deve delimitar corretamente quais são os elementos da população que podem ser
            animados ou inanimados.</p>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/LVta8opBCWU"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>