<!doctype html>
<html lang="pt-BR">

	<head>
		<title>TITULO PAGINA</title>

		<meta charset="utf-8" />
            <link rel="stylesheet" href="../css/estrutura.css" />
            <link rel="stylesheet" href="./css/conteudoestrutura.css" />
	</head>

	<body>
		<div id="painel">
			<header>
				<h1>Título Principal</h1>

				<p>
                    Texto <b>palavra negrito</b>  <i>palavra italico</i> texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                </p>

                <br>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/LXb3EKWsInQ" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <br><br><br>

			</header>


			<nav id="cdf">

				<h2>Subtitulo</h2>

                <br><br><br>

				<ul>

					<li>
						<a href="#Subtitulo1" class="conteudo">
							Subtitulo1
						</a>
					</li>

					<li>
						<a href="#Subtitulo1" class="conteudo">
							Subtitulo2
						</a>
					</li>
					<li>
						<a href="#Subtitulo3" class="conteudo">
							Subtitulo3
						</a>
					</li>

				</ul>

                <br><br>

			</nav>

				<h3>Subtitulo1</h3>
                <br><br>

				<p>
                    Texto <b>palavra negrito</b>  <i>palavra italico</i> texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                </p>

                <div>
                    <center>
                        <img src="https://miro.medium.com/max/640/0*i1v1In2Tn4Stnwnl.jpg">
                    </center>
                    <h6>figura 1: Imagem teste. Essa imagem não faz parte do projeto, e esse é um teste de legenda de imagem<h6> 
                </div>

                <p>
                    Texto <b>palavra negrito</b>  <i>palavra italico</i> texto texto texto texto texto texto texto texto 
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                    texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                </p>

                <br><br>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/LXb3EKWsInQ" title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <br>
                <br>
			
			<footer>
				<p>Copyright &copy; 2022 Turma de Sistemas de Informação</p>
			</footer>	
		</div>
	</body>