<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

    <div id="painel_conceitos">
        <h1>Gráfico de Variável Qualitativa</h1>
        <p>
            Gráfico é um recurso visual da Estatística utilizado para representar um fenômeno. Sua
            utilização em larga escala nos meios de comunicação social, técnica e científica, devem-se tanto à
            sua capacidade de refletir padrões gerais e particulares do conjunto de dados em observação, como
            à facilidade de interpretação e a eficiência com que resume informações dos mesmos.
            Embora os gráficos forneçam menor grau de detalhes que as tabelas, estes apresentam um
            ganho na compreensão global dos dados, permitindo que se aperceba imediatamente da sua forma
            geral sem deixar de evidenciar alguns aspectos particulares que sejam de interesse do pesquisador.
            Uma representação gráfica coloca em evidência as tendências, as ocorrências ocasionais, os valores
            mínimos e máximos e também as ordens de grandezas dos fenômenos que estão sendo observados. 
        </p>

        <div id="acessorapido">
        <h2>Tipos de Gráficos </h2>
        <br>
        <ul>
            <li>
                <a href="#barras" class="barras">
                    Gráfico de Barras
                </a>
            </li>
            <li>
                <a href="#colunas" class="colunas">
                    Gráfico de Colunas
                </a>
            </li>

            <li>
                <a href="#linhas" class="linhas">
                    Gráfico de linhas
                </a>
            </li>

            <li>
                <a href="#setores" class="setores">
                    Gráfico de Setores
                </a>
            </li>
            <li>
                <a href= "./imagens/Conteudo.pdf"
                    target="_blank"> Referências</a>
            </li>
        </ul>
    </div>
    <br>
        <div class="barras" id="barras"></div>
        <h3>Gr&aacute;fico de Barras</h3>
        <p>Um gr&aacute;fico de barras &eacute; uma forma de resumir um conjunto de dados categ&oacute;ricos. Ele mostra os dados utilizando um n&uacute;mero de barras de mesma largura, cada uma delas representando uma categoria particular. A altura de cada barra &eacute; proporcional a uma agregaç&otilde;o específica (por ex., a soma dos valores na categoria que representa). As categorias podem ser algo como um grupo de idade ou uma localização geográfica.</p>
        <p>Raz&atilde;o pela qual os gr&aacute;ficos de barras s&atilde;o t&atilde;o populares &eacute; que eles s&atilde;o simples, mas vers&aacute;teis. As barras podem ser alinhadas verticalmente, como no exemplo acima, ou horizontalmente.</p>
        
        <br><br>
        
        <iframe width="800" height="400" src="https://www.youtube.com/embed/TArPqgSSGmg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>

        <div class="colunas" id="colunas"></div>
        <h3>Gr&aacute;fico de Colunas</h3>
        <p>Um gráfico de colunas é um método de exibição de dados com categorias representadas por um retângulo, às vezes chamado de gráficos de barras verticais. Eles permitem comparações fáceis entre vários itens e análise de tendências. Em geral, estatísticas e figuras são difíceis de entender quando apresentadas em tabelas ou em formato escrito. Os gráficos de colunas tornam as coisas fáceis, diretas e compreensíveis.</p>
       
        <br><br>
        <iframe width="800" height="400" src="https://www.youtube.com/embed/bXGFm0IEqeg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>


        <div class="linhas" id="linhas"></div>
        <h3>Gr&aacute;fico de linhas</h3>
        <p>Gráficos de linhas mostram tendências ou alterações ao longo do tempo exibindo uma série de pontos de dados conectados por segmentos de linha reta. Você pode exibir um único campo de dados como várias linhas com base em diferentes categorias por meio de Cor por campo.</p>
        <p>Os gráficos de linhas costumam ser usados para mostrar dados contínuos, ou seja, que não podem ser contados em números inteiros, como o número de produtos vendidos. Em vez disso, esses dados estão sempre variando e podem ter qualquer valor imaginável, incluindo frações ou pontos decimais, como tempo, temperatura, medições, custo, etc.</p>
       
        <br><br>
        <iframe width="800" height="400" src="https://www.youtube.com/embed/huaUxc_XdVY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>


        <div class="setores" id="setores"></div>
        <h3>Gr&aacute;fico de setores</h3>
        <p>O gráfico de setores, também conhecido por gráfico de pizza ou circular, é uma representação de dados de categorias diferentes na forma de fatias ou setores circulares.</p>
        <p>É uma ferramenta estatística utilizada para analisar e expressar uma comparação entre as quantidades de dados obtidos para categorias diferentes em uma pesquisa ou contagem.</p>
        <p>As fatias ou setores ocupam áreas diferentes, conforme a proporção entre as quantidades de dados de cada categoria. Esta proporção é representada na forma de porcentagem, onde setores com maior porcentagem, aparecem com áreas maiores.</p>
        
        <br><br>
        <iframe width="800" height="400" src="https://www.youtube.com/embed/72raxPYXRCA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>
    </div>
 