<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteudo da Gincana de Estatística</title>
    <link rel="stylesheet" type="text/css" href="../css/folha.css" />
</head>
<body>

    <div id="titulo">
        <h1>"Conteudo Gincana 2022"</h1>
        <h2>CONCEITOS DE VARIÁVEIS</h2>
    </div>
    <div class="conceitos1">
        <center><h2>Variavel</h2></center>
        <p>É a característica que vai ser observada, medida ou contada nos elementos da
população ou da amostra e que pode variar, ou seja, assumir um valor diferente de elemento para
elemento.Não basta identificar a variável a ser trabalhada, é necessário fazer-se distinção entre os tipos de variáveis:.</p>
       
        <h3>Variável qualitativa:</h3>
        <p> É uma variável que assume como possíveis valores, atributos ou
qualidades. Também são denominadas variáveis categóricas.</p>
        <h3>Variável quantitativa::</h3>
        <p> É uma variável que assume como possíveis valores, números.
Cada uma dessas variáveis pode ser sub-classificada em:</p>
        <h3>Variável qualitativa nominal::</h3>
        <p> É é uma variável que assume como possíveis valores,atributos ou qualidades e estes não apresentam uma ordem natural de ocorrência.</p>
        <h3>Variável qualitativa ordinal:</h3>
        <p> É uma variável que assume como possíveis valores
atributos ou qualidades e estes apresentam uma ordem natural de ocorrência.
Exemplo 02: estado civil dos alunos da disciplina Inferência Estatística do curso de Estatística
da UEM: solteiro, casado, separado.</p>
        <h3>Variável quantitativa discreta:</h3>
        <p> É uma variável que assume como possíveis valores
números, em geral inteiros, formando um conjunto finito ou enumerável.
Exemplo 03: número de reprovas, por disciplina, dos alunos da disciplina Inferência Estatística
do curso de Estatística da UEM: 0, 1, 2, .....</p>
        <h3>Variável quantitativa contínua:</h3>
         <p> É uma variável que assume como possíveis valores
números, em intervalos da reta real e, em geral, resultantes de mensurações.
Exemplo 04: peso (quilogramas) dos alunos da disciplina Inferência Estatística do curso de
Estatística da UEM: 58, 59, 63.....</p>
      <div style='text-align:right'>
      <a href="tabelas.html" >Proximo conteudo tabela.  </a>
      </div>
	
      </div>

      </blink>
       

    <footer>
        <p>Copyright &copy; 2022 Turma de Sistemas de Informação</p>
    </footer>
</body>
</html>
