<link rel="stylesheet" href="./css/layout_conceitos.css" />
<link rel="stylesheet" href="./css/titulos_conceitos.css" />

<div id="painel_conceitos">
    <h1>Gráficos</h1>
<p>Gráfico é um recurso visual da Estatística utilizado para representar um fenômeno. Sua
utilização em larga escala nos meios de comunicação social, técnica e científica, devem-se tanto à
sua capacidade de refletir padrões gerais e particulares do conjunto de dados em observação, como
à facilidade de interpretação e a eficiência com que resume informações dos mesmos. </p>
<p>Embora os gráficos forneçam menor grau de detalhes que as tabelas, estes apresentam um
ganho na compreensão global dos dados, permitindo que se aperceba imediatamente da sua forma
geral sem deixar de evidenciar alguns aspectos particulares que sejam de interesse do pesquisador.
Uma representação gráfica coloca em evidência as tendências, as ocorrências ocasionais, os valores
mínimos e máximos e também as ordens de grandezas dos fenômenos que estão sendo observados. </p>
    <br>
    <div id="acessorapido">
        <h2>Tipos de Gráficos</h2>
        <ul>
            <li>
                <a href="#bastoes">
                    Amostra
                </a>
            </li>

            <li>
                <a href="#frequencia_acumulada">
                    População
                </a>
            </li>
            <li>
                <a href= "./imagens/Conteudo.pdf"
                    target="_blank"> Referências</a>
            </li>
        </ul>
    </div>
    <br>
    <div id="bastoes"></div>
    <h3>Gráfico de Bastões</h3>
    <p><b>Gráfico de Bastôes: </b> subconjunto de elementos de uma população. Este subconjunto deve terdimensão menor
            que o da população e seus elementos devem ser representativos da população. A seleção dos elementos
            que irão compor a amostra pode ser feita de várias maneiras e irá depender do conhecimento que se
            tem da população e da quantidade de recursos disponíveis. A estatística inferencial é a área que
            trata e apresenta a metodologia de amostragem.</p>
            <iframe width="800" height="400" src="https://www.youtube.com/embed/TArPqgSSGmg" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
    <br><br>
    <div id="frequencia_acumulada"></div>
    <h3>Gráfico de Frequência Acumulada</h3>
    <p><b>Gráfico de Frequência Acumulada:</b> na abscissa são alocados os valores assumidos pela variável número de irmãos e no eixo
            das ordenadas suas freqüências acumuladas. Observa-se que a leitura do gráfico exige alguns cuidados básicos: caso o valor da variável
            esteja ou não incluído, sua freqüência acumulada difere. </p>
            <iframe width="800" height="400" src="https://www.youtube.com/embed/vqZb_Fqj1C0" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
</div>