<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteudo da Gincana de Estatística</title>
    <link rel="stylesheet" type="text/css" href="folha.css" />
</head>
<body>

    <div id="titulo">
        <h1>"Conteudo Gincana 2022"</h1>
        <h2>Gráfico Variaveis quantitativas discretas</h2>
    </div>
    <div class="conceitos1">
        <center><h2>Gráfico de bastões</h2></center>
        <p>Este gráfico é formado por segmentos de retas perpendiculares ao eixo horizontal (eixo da
variável), cujo comprimento corresponde à freqüência absoluta ou relativa de cada elemento da
distribuição. Suas coordenadas não podem ser unidas porque a leitura do gráfico deve tornar claro
que não há continuidade entre os valores individuais assumidos pela variável em estudo.</p>
       	<img src="graficobastoes.png" alt="Gráfico de bastões">
        <p>        <center><h2>Gráfico da freqüência acumulada</h2></center>
        <p>A Figura 08 mostra o gráfico para freqüência acumulada de uma variável quantitativa
discreta. Na abscissa são alocados os valores assumidos pela variável número de irmãos e no eixo
das ordenadas suas freqüências acumuladas. Observa-se que a leitura do gráfico exige alguns
cuidados básicos: caso o valor da variável esteja ou não incluído, sua freqüência acumulada difere.
Se for de interesse saber quantos alunos tem dois ou menos irmãos (inclui-se dois irmão), a
freqüência acumulada é de 19 alunos. Caso se queira apenas saber quantos alunos têm menos de
dois irmãos (portanto o número dois não está incluso), sua freqüência acumulada é de 7 alunos.</p>
       	
       	<img src="graficofrequenciaacumulada.png" alt="Gráfico da freqüência acumulada">
         <div style='text-align:right'>
      <a href="tabelas.html" >Proximo conteudo de gráfico.  </a>
      </div>
	
      </div>

      </blink>
       

    <footer>
        <p>Copyright &copy; 2022 Turma de Sistemas de Informação</p>
    </footer>
</body>
</html>
