<!doctype html>
<html lang="pt-BR">

    <head>
        <title>Estatística Descritiva</title>

        <link rel="stylesheet" href="../../css/menu.css" />
        <link rel="stylesheet" href="../../css/layout.css" />
        <!-- <link rel="stylesheet" href="./css/layout_max.css" /> -->
        
        <script src="./node_modules//jquery/dist/jquery.js"></script>
        <script  src="./js/layout.js"></script>
    </head>
    
    <body>
        <div class="menu">
    <nav class="slideLeft">
        <ul>
            <li><a href="./index.php?controle=principal&acao=inicio"><i class="dgicon-home"></i> Início</a></li>
            <li><a href="./index.php?controle=principal&acao=conteudos"><i class="dgicon-tools"></i> Conceitos</a></li>
            <li><a href="./index.php?controle=principal&acao=inicio"><i class="dgicon-vcard"></i> Quiz Estatístico</a></li>
            <li><a href="./index.php?controle=principal&acao=calculadora"><i class="dgicon-vcard"></i> Calcule</a></li>
            <li><a href="./index.php?controle=principal&acao=deslogar"><i class="dgicon-window"></i>Deslogar</a></li>
        </ul>
    </nav>
</div>
        
        <link rel="stylesheet" href="../../css/layout_conceitos.css" />
<link rel="stylesheet" href="../../css/titulos_conceitos.css" />
        <header>
          <div id="painel_conceitos">
                <h1>Índice de Conteúdos</h1>
                <ol>
                    <li>
                        <a href="./index.php?controle=conceito&acao=exibir&conceito=amostra_populacao">Amostra Populacional</a>
                    </li>
                    
                    <li>
                        <a href="./index.php?controle=conceito&acao=exibir&conceito=distribuicao">Distribuição</a>
                    </li>
                    
                    <li>
                        <a href="./index.php?controle=conceito&acao=exibir&conceito=boxplot_pictograma">Pictograma</a>
                    </li>

                    <li>
                		<a href="./index.php?controle=conceito&acao=exibir&conceito=estatistica_descritiva">Estatistica Descritiva</a>
                	</li>
                </ol>
            </div>
        </header>

       
    </body>
</html>
