<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

    <div id="painel_conceitos">
          <h1>Índice de Conteúdos</h1>
          <br>
          <ol>
              <strong><h4>Conceitos Gerais</h4></strong>
              <dd>
                <li>
                    <a href="./index.php?controle=conceito&acao=exibir&conceito=conceitos_estatisticos">Conceitos Estatísticos </a>
                  </li>


                  <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=distribuicao">Distribuição</a>
                  </li>



                  <li>
                          <a href="./index.php?controle=conceito&acao=exibir&conceito=estatistica_descritiva">Estatistica Descritiva: Amostra e População</a>
                  </li>

                  <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=tabelas">Tabelas </a>
                  </li>

                  <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=variaveis">Variáveis </a>
                  </li>


                  
              </dd>



              <strong><h4>Tipos de Gráficos</h4></strong>
              <dd>
                <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=boxplot_pictograma"> Gráfico de Boxplot e Pictograma</a>
                  </li>

                  <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=graficos_variaveis_qualitativas">Gráfico de Variavel Qualitativa</a>
                  </li>

                  <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=grafico_quantitativa_continua">Gráfico de Variáveis Quantitativas Continuas</a>
                  </li>

                  <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=grafico_quantitativa_discreta">Gráficos de Variáveis Quantitativas Discretas</a>
                  </li>

                

                   



              </dd>  

              <strong><h4>Tipos de Medidas</h4></strong>
              <dd>

                  <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=medidas_dispersao">Medidas de Dispersão</a>
                  </li>

                  <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=medidas_separatrizes">Medidas Separatrizes</a>
                  </li>
                  
                   <li>
                      <a href="./index.php?controle=conceito&acao=exibir&conceito=medidas_tendencia_central">Medidas de Tendência Central</a>
                  </li>

              </dd>




          </ol>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>



      </div>
</html>
