<link rel="stylesheet" href="./css/layout_conceitos.css" />
<link rel="stylesheet" href="./css/titulos_conceitos.css" />

          <div id="painel_conceitos">
                <h1>Índice de Conteúdos</h1>
                <br>
                <ol>
                    <strong><h4>Tipos de Gráficos</h4></strong>
                    <dd>
                        <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=tabelas">Tabelas </a>
                        </li>

                        <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=variaveis">Variáveis </a>
                        </li>

                         <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=variaveis_quantitatiivas_continuas">Variável Quantitativa Continua </a>
                        </li>

                        <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=amostra_populacao">Estatística Descritiva: Amostra e População</a>
                        </li>

                        <li>
                          <a href="./index.php?controle=conceito&acao=exibir&conceito=pesquisa_amostragem_conjuntos">Amostragem de Conjuntos </a>
                        </li>

                        
                        <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=distribuicao">Distribuição</a>
                        </li>
                        
                       

                        <li>
                    		<a href="./index.php?controle=conceito&acao=exibir&conceito=estatistica_descritiva">Estatistica Descritiva</a>
                    	</li>
                    </dd>

                   

                    <strong><h4>Tipos de Gráficos</h4></strong>
                    <dd>
                        <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=grafico_quantitativa_continua">Gráfico Quantitativo Continuo</a>
                        </li>

                        <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=grafico_quantitativa_discreta">Gráfico de Variável Quantitativa Discreta</a>
                        </li>

                        <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=graficos_variaveis_qualitativas">Gráfico de Variavel Qualitativa</a>
                        </li>

                         <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=boxplot_pictograma">Boxplot Pictograma</a>
                        </li>



                    </dd>  

                    <strong><h4>Tipos de Gráficos</h4></strong>
                    <dd>

                         <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=medidas_descritivas">Medidas Descritivas</a>
                        </li>

                        <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=medidas_dispersao">Medidas de dispersão</a>
                        </li>

                        <li>
                            <a href="./index.php?controle=conceito&acao=exibir&conceito=medidas_separatrizes">Medidas Separatrizes</a>
                        </li>
                    </dd>
                        
                    


                </ol>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>



            </div>
        </header>   
    </body>
</html>
