<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

<div id="painel_conceitos">
    <h1>O que são Medidas Separatrizes?</h1>
    <p>Estas medidas são valores que ocupam posições no conjunto de dados, em rol, dividindo-o
        em partes iguais.</p>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/cEHcoXYypR8"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    <div id="acesso rapido">
        <h2>Separatrizes mais utilizadas</h2>
            <ul>
                <li>
                    <a href="#quartil" class="conteudo">
                        Quartil
                    </a>
                </li>
                <li>
                    <a href="#decil" class="conteudo">
                        Decil
                    </a>
                </li>
                <li>
                    <a href="#Percentil" class="conteudo">
                        Percentil
                    </a>
                </li>
                <li>
                    <a href= "./imagens/Conteudo.pdf"
                        target="_blank"> Referências</a>
                    </a>
                </li>
            </ul>
    </div>
    <div class="Quartil" id="quartil"></div>
        <h3>Quartil</h3>
        <b>Quartil:</b> Os quartis dividem o conjunto de dados em quatro partes iguais.
        <br>
    <table border="1">
            <tr>
                    <td>Estatística</td>
                    <td>Notação</td>
                    <td>Interpretação</td>
                    <td>Posição</td>
            </tr>
            <tr>
                    <td>1º quartil</td>
                    <td>Q1</td>
                    <td>25% dos dados são valores menores ou
                            iguais ao valor do primeiro quartil.</td>
                    <td>p=0,25(n+1)</td>
            </tr>
            <tr>
                    <td>2º quartil</td>
                    <td>Q2 =Md</td>
                    <td>50% dos dados são valores menores ou
                            iguais ao valor do segundo quartil.</td>
                    <td>p=0,50(n+1)</td>
            </tr>
            <tr>
                    <td>3º quartil</td>
                    <td>Q3</td>
                    <td>75% dos dados são valores menores ou
                            iguais ao valor do terceiro quartil.</td>
                    <td>p=0,75(n+1) </td>
            </tr>
    </table>
    <br>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/ie2few5B7ZU"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        <br><br>
        <div class="Decil" id="decil"></div>
        <h3>Decil</h3>
        <b>Decil:</b> Os decis dividem o conjunto de dados em dez partes iguais.
        <br>
        <table border="1">
                <tr>
                        <td>Estatística</td>
                        <td>Notação</td>
                        <td>Interpretação</td>
                        <td>Posição</td>
                </tr>
                <tr>
                        <td>1º decil</td>
                        <td>D1</td>
                        <td>10% dos dados são valores menores
                                ou iguais ao valor do primeiro decil.</td>
                        <td>p=0,10(n+1)</td>
                </tr>
                <tr>
                        <td>2º decil</td>
                        <td>D2</td>
                        <td>20% dos dados são valores menores
                                ou iguais ao valor do primeiro decil.</td>
                        <td>p=0,20(n+1)</td>
                </tr>
                <tr>
                        <td>3º decil</td>
                        <td>D3</td>
                        <td>30% dos dados são valores menores
                                ou iguais ao valor do primeiro decil.</td>
                        <td>p=0,30(n+1)</td>
                </tr>
                <tr>
                        <td>4º decil</td>
                        <td>D4</td>
                        <td>40% dos dados são valores menores
                                ou iguais ao valor do primeiro decil.</td>
                        <td>p=0,40(n+1)</td>
                </tr>
                <tr>
                        <td>5º decil</td>
                        <td>D5=Q2=Md</td>
                        <td>50% dos dados são valores menores
                                ou iguais ao valor do primeiro decil.</td>
                        <td>p=0,50(n+1)</td>
                </tr>
                <tr>
                        <td>6º decil</td>
                        <td>D6</td>
                        <td>60% dos dados são valores menores
                                ou iguais ao valor do primeiro decil.</td>
                        <td>p=0,60(n+1)</td>
                </tr>
                <tr>
                        <td>7º decil</td>
                        <td>D7</td>
                        <td>70% dos dados são valores menores
                                ou iguais ao valor do primeiro decil.</td>
                        <td>p=0,70(n+1)</td>
                </tr>
                <tr>
                        <td>8º decil</td>
                        <td>D8</td>
                        <td>80% dos dados são valores menores
                                ou iguais ao valor do primeiro decil.</td>
                        <td>p=0,80(n+1)</td>
                </tr>
                <tr>
                        <td>9º decil</td>
                        <td>D9</td>
                        <td>90% dos dados são valores menores
                                ou iguais ao valor do primeiro decil.</td>
                        <td>p=0,90(n+1)</td>
                </tr>
        </table>
        <br>
        <iframe width="800" height="400" src="https://www.youtube.com/embed/k8gG5GIERBM"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <br><br>
    <div class="Percentil" id="percentil"></div>
        <h3>Percentil</h3>
        <b>Percentil:</b> Os percentis dividem o conjunto de dados em cem partes iguais. A seguir são
        apresentados alguns dos percentis mais usados:
        <br>
        <table border="1">
            <tr>
                    <td>Estatística</td>
                    <td>Notação</td>
                    <td>Interpretação</td>
                    <td>Posição</td>
            </tr>
            <tr>
                    <td>5º Percentil</td>
                    <td>P5</td>
                    <td>5% dos dados são valores menores ou
                            iguais ao valor do primeiro percentil.</td>
                    <td>p=0,05(n+1)</td>
            </tr>
            <tr>
                    <td>10º Percentil</td>
                    <td>P10</td>
                    <td>10% dos dados são valores menores ou
                            iguais ao valor do primeiro percentil.</td>
                    <td>p=0,10(n+1)</td>
            </tr>
            <tr>
                    <td>25º Percentil</td>
                    <td>P25=Q1</td>
                    <td>25% dos dados são valores menores ou
                            iguais ao valor do primeiro percentil.</td>
                    <td>p=0,25(n+1)</td>
            </tr>
            <tr>
                    <td>50º Percentil</td>
                    <td>P50= D5 =Q2 = Md</td>
                    <td>50% dos dados são valores menores ou
                            iguais ao valor do primeiro percentil.</td>
                    <td>p=0,50(n+1)</td>
            </tr>
            <tr>
                    <td>75º Percentil</td>
                    <td>P75=Q3</td>
                    <td>75% dos dados são valores menores ou
                            iguais ao valor do primeiro percentil.</td>
                    <td>p=0,75(n+1)</td>
            </tr>
            <tr>
                    <td>90º Percentil</td>
                    <td>P90</td>
                    <td>90% dos dados são valores menores ou
                            iguais ao valor do primeiro percentil.</td>
                    <td>p=0,90(n+1)</td>
            </tr>
            <tr>
                    <td>95º Percentil</td>
                    <td>P95</td>
                    <td>95% dos dados são valores menores ou
                            iguais ao valor do primeiro percentil.</td>
                    <td>p=0,95(n+1)</td>
            </tr>
    </table>
    <br>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/4-p9ILo-R3U"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
</div>