<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

    <div id="painel_conceitos">
        <div id="descritivas"></div>
        <h1>Medidas de Tendência Central</h1>
        <p>As Medidas descritivas são métodos que objetiva, através de medidas numéricas únicas o resumo dos dados ou algumas de suas
        características em um único valor. Sendo estas medidas usadas para a comparação entre diferentes amostras ou populações. São 
        classificas em Medidas de Tendência Central ou de Posição e Medidas de Dispersão ou de Variabilidade</p>

        <p>A tendência central é uma medida de valores numa amostra que identifica os diferentes pontos centrais nos dados, muitas vezes referidos coloquialmente como “médias”. As medidas mais comuns de tendência central são a média, a mediana e a moda. A identificação do valor central permite que outros valores sejam comparados a ele, mostrando a dispersão ou o agrupamento da amostra, o que é conhecido como dispersão ou distribuição. Estas medidas de dispersão são categorizadas em 2 grupos: medidas de dispersão baseadas em percentis e medidas de dispersão baseadas na média (que é frequentemente conhecida como desvio padrão).</p>
        <dl>
            <strong><dt> Definição da média da amostra:</dt></strong>
            <br>
            <dd>A média amostral é a média calculada a partir de um grupo de variáveis aleat&oacute;rias, retiradas da população. É considerado como um estimador eficiente e imparcial da média populacional, o que significa que o valor mais esperado para a estatística da amostra é a estatística da população, independentemente do erro amostral.</dd>
            <br>
            <strong><dt>Definição de Média Populacional:</dt></strong>
            <br>
            <dd>Na estatística, a média populacional é definida como a média de todos os elementos da população. É um meio de característica de grupo, em que grupo se refere a elementos da população como itens, pessoas, etc. e a característica é o item de interesse. Como a população é muito grande e desconhecida, a média populacional é uma constante desconhecida. </dd>
        </dl>
        <br>
        <iframe width="800" height="400" src="https://www.youtube.com/embed/4gw9HscohW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br>

        <div id="acessorapido">
        <h2>Conceitos Fundamentais e Definições</h2>
        <ul>
            <li>
                <a href="#descritivas">
                   Medidas Descritivas
                </a>
            </li>

            <li>
                <a href="#posição">
                    Medidas de posição:
                </a>
            </li>
            <li>
                <a href= "./imagens/Conteudo.pdf"
                    target="_blank"> Referências</a>
            </li>
        </ul>
    </div>

        <div id="posição"></div>
        <h3>Medidas de posição:</h3>
        <p> Medidas de posição são utilizadas em casos em que é possível construir-se um rol numérico com os dados ou uma tabela de frequência. Essas medidas indicam a posição dos elementos em relação ao rol. As três principais medidas de posição são:</p>

        <ul>
            <li>
                <dl>
                    <strong><dt>M&eacute;dia</dt></strong>
                    <br>
                    <dd>A média, também chamada “média aritmética” na linguagem corrente, corresponde à soma dos valores de um grupo de valores, divida pelo número de valores do grupo.</dd>
                </dl>
            </li>
            <li>
                <dl>
                    <strong><dt>Mediana</dt></strong>
                    <dd><p>Mediana é dada pelo elemento central de um rol que possui uma quantidade ímpar de elementos. Caso o rol possua uma quantidade par de elementos, devemos considerar os dois elementos centrais e calcular a média aritmética entre eles.</p>

                    <p>Exemplo: Considere o rol a seguir: (2, 2, 3, 3, 4, 5, 6, 7, 9). Veja que o elemento 4 divide o rol em duas partes iguais, logo, ele é o elemento central.</p></dd>
                </dl>
            </li>
            <li>
                <dl>
                    <strong><dt>Moda</dt></strong>
                    <dd><p>Chamaremos de moda o elemento do rol que possui maior frequência, ou seja, o elemento que mais aparece nele.</p>

                    <p>Exemplo: Vamos determinar a moda do rol das idades do grupo de dança, (18, 20, 20, 21, 21, 21, 22, 22, 25, 30). O elemento que mais aparece é o 21, portanto, a moda é igual a 21."</p></dd>
                </dl>
            </li>

            <iframe width="800" height="400" src="https://www.youtube.com/embed/kiG3UCMlCms" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </ul>
    </div>