<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />
        
    <div id="painel_conceitos">
        <div class="conceito" id="conceito"></div>
        <h1>Tabela</h1>
        <p>A tabela é uma estrutura que utilizamos para organizar dados, que são informações sobre determinado assunto. Esses dados podem ser do tipo qualitativo (relacionados a características e 					atribuições) ou quantitativo (fazendo referência a valores numéricos).</p>

        <iframe width="800" height="400" src="https://www.youtube.com/embed/hycDXO_hXnE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
        <br><br>

        <div id="acessorapido">
            <h2>Conceitos Fundamentais e Definições</h2>
            <ul>
                <li>
                    <a href="#conceito" class="conceito">
                        Conceito
                    </a>
                </li>

                <li>
                    <a href="#e_tabela" class="e_tabela">
                        Elemento da tabela
                    </a>
                </li>

                <li>
                    <a href="#simples" class="simples">
                        Tabela simples
                    </a>
                </li>
                <li>
                    <a href= "./imagens/Conteudo.pdf"
                        target="_blank"> Referências</a>
                </li>
            </ul>
        </div>
     
        <div class="e_tabela" id="e_tabela"></div>
        <h3>Elementos da Tabela</h3>
        <p>Toda tabela é formada por linha e coluna, chamamos de célula a junção de linhas e colunas. É na célula que inserimos as informações, ou seja, os dados. Para indicar a quantidade de linhas e colunas que uma tabela possui utilizamos a seguinte referência: Linha x Colunas.</p>
        <p>Os elementos fundamentais da tabela são: título, cabeçalho, coluna indicadora e corpo.
        O título aponta o fenômeno, época e local de ocorrência; o cabeçalho explica o
        conteúdo das colunas; a coluna indicadora detalha as linhas; o corpo mostra os dados.
        Complementarmente, tem-se: fonte, notas e chamadas. A fonte cita o informante
        (caracterizando a confiabilidade dos dados); as notas esclarecem o conteúdo e indicam a
        metodologia adotada na obtenção ou elaboração da informação; as chamadas clarificam
        pontos específicos da tabela.</p>
        <p>As tabelas são utilizadas como referência para a construção de gráficos que rementem aos dados que a tabela possui. Os gráficos podem ser do tipo: Barras, setores/pizza, coluna, linhas e áreas.</p>
    	<p>As ferramentas que utilizamos para construir uma tabela, manualmente, são: Lápis de cor, borracha, régua e lápis de escrever. Também é possível utilizar softwares para construí-las, quando 			isso ocorrer estará utilizando um ambiente para a confecção de planilhas eletrônicas. </p> 

        <div class="simples" id="simples"></div>       
        <h3>Tabela Simples</h3>
        <p>Uma tabela simples contém as diferentes categorias observadas de uma variável qualitativa e suas respectivas contagens, denominadas freqüências absolutas. A contagem refere-se ao número de ocorrências de cada categoria.</p>
        <p>Quanto à classificação, uma tabela simples pode ser temporal quando as observações são feitas levando-se em consideração o tempo; geográfica quando os dados referem-se ao local de ocorrência; específica (ou categórica) quando tempo e local são fixos; e comparativa quando a tabela resume informações de duas ou mais variáveis. A tabela comparativa é também denominada tabela cruzada ou de dupla ou mais entradas.</p>
        <p>Os nomes da coluna indicadora e cabeçalho podem ser escritos iniciando-se com letras maiúsculas. Também é prática comum justificar à esquerda as diferentes categorias da variável qualitativa que se apresentam no conteúdo das linhas, iniciando-se com letras maiúsculas e podem ser dispostas na ordem em que aparecem nos questionários, ordem alfabética ou ordem decrescente de freqüência absoluta.</p>
    </div>
        


