<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteudo da Gincana de Estatística</title>
    <link rel="stylesheet" type="text/css" href="../css/conceitos_estatísticos.css" />
</head>
<body>
    <div id="titulo">
        <h1>CONCEITOS FUNDAMENTAIS E DEFINIÇÕES</h1>
        <h2>TABELAS</h2>
    </div>
    <div class="conceitos1">
        <h3>Conceitos</h3>
        <p>A tabela é uma estrutura que utilizamos para organizar dados, que são informações sobre determinado assunto. Esses dados podem ser do tipo qualitativo (relacionados a características e 							 atribuições) ou quantitativo (fazendo referência a valores numéricos).</p>
        
        <h3>Elementos da Tabela</h3>
        <p>Toda tabela é formada por linha e coluna, chamamos de célula a junção de linhas e colunas. É na célula que inserimos as informações, ou seja, os dados. Para indicar a quantidade de linhas e colunas que uma tabela possui utilizamos a seguinte referência: Linha x Colunas.</p>
        <p>Os elementos fundamentais da tabela são: título, cabeçalho, coluna indicadora e corpo.
O título aponta o fenômeno, época e local de ocorrência; o cabeçalho explica o
conteúdo das colunas; a coluna indicadora detalha as linhas; o corpo mostra os dados.
Complementarmente, tem-se: fonte, notas e chamadas. A fonte cita o informante
(caracterizando a confiabilidade dos dados); as notas esclarecem o conteúdo e indicam a
metodologia adotada na obtenção ou elaboração da informação; as chamadas clarificam
pontos específicos da tabela.</p>
        <p>As tabelas são utilizadas como referência para a construção de gráficos que rementem aos dados que a tabela possui. Os gráficos podem ser do tipo: Barras, setores/pizza, coluna, linhas e áreas.</p>
	<p>As ferramentas que utilizamos para construir uma tabela, manualmente, são: Lápis de cor, borracha, régua e lápis de escrever. Também é possível utilizar softwares para construí-las, quando 			isso ocorrer estará utilizando um ambiente para a confecção de planilhas eletrônicas. </p>        
        <h3>Tabela Simples</h3>
        <p>Uma tabela simples contém as diferentes categorias observadas de uma variável qualitativa e suas respectivas contagens, denominadas freqüências absolutas. A contagem refere-se ao número de ocorrências de cada categoria.</p>
        <p>Quanto à classificação, uma tabela simples pode ser temporal quando as observações são feitas levando-se em consideração o tempo; geográfica quando os dados referem-se ao local de ocorrência; específica (ou categórica) quando tempo e local são fixos; e comparativa quando a tabela resume informações de duas ou mais variáveis. A tabela comparativa é também denominada tabela cruzada ou de dupla ou mais entradas.</p>
        <p>Os nomes da coluna indicadora e cabeçalho podem ser escritos iniciando-se com letras maiúsculas. Também é prática comum justificar à esquerda as diferentes categorias da variável qualitativa que se apresentam no conteúdo das linhas, iniciando-se com letras maiúsculas e podem ser dispostas na ordem em que aparecem nos questionários, ordem alfabética ou ordem decrescente de freqüência absoluta.</p>
      </div>
        

    <footer>
        <p>Copyright &copy; 2022 Turma de Sistemas de Informação</p>
    </footer>
</body>
</html>
