<link rel="stylesheet" href="./css/layout_conceitos.css" />
<link rel="stylesheet" href="./css/titulos_conceitos.css" />

<div id="painel_conceitos">
    <h1>Gráficos de Variáveis Quantitativas Contínuas</h1>
    <p>Gráfico é um recurso visual da Estatística utilizado para representar um fenômeno. Sua
        utilização em larga escala nos meios de comunicação social, técnica e científica, devem-se tanto à
        sua capacidade de refletir padrões gerais e particulares do conjunto de dados em observação, como
        à facilidade de interpretação e a eficiência com que resume informações dos mesmos.</p>
    <p>Embora os gráficos forneçam menor grau de detalhes que as tabelas, estes apresentam um
        ganho na compreensão global dos dados, permitindo que se aperceba imediatamente da sua forma
        geral sem deixar de evidenciar alguns aspectos particulares que sejam de interesse do pesquisador.
        Uma representação gráfica coloca em evidência as tendências, as ocorrências ocasionais, os valores
        mínimos e máximos e também as ordens de grandezas dos fenômenos que estão sendo observados.</p>
    <p>A visualização de algum padrão ou
        comportamento continua sendo de difícil observação ou até mesmo cansativa, mas torna-se
        rápido identificar maiores e menores valores ou concentrações de valores no caso de variáveis
        quantitativas. Estes números (menor e maior valor observado) servem de ponto de partida para a
        construção de tabelas para estas variáveis.</p>
    <br>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/Mfl7k0i69c8" 
            title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
    <div id="acesso rapido">
        <h2>Principais Gráficos para Variáveis Quantitativas Contínuas</h2>
        <ul>
            <li>
                <a href="#histograma" class="conteudo">
                        Histograma
                </a>
            </li>
            <li>
                <a href="#poligno" class="conteudo">
                    Poligno de Frequência
                </a>
            </li>
            <li>
                <a href="#ogiva" class="conteudo">
                    Ogiva
                </a>
            </li>
            <li>
                <a href="#ramo" class="conteudo">
                        Ramo-e-Folhas
                </a>
            </li>
            <li>
                <a href= "./imagens/Conteudo.pdf"
                      target="_blank"> Referências</a>
            </li>
        </ul>
    </div>
    <br>
    <div class="Histograma" id="histograma"></div>
            <h3>Histograma</h3>
            <p><b>Histograma:</b> É um gráfico de colunas justapostas que representa uma distribuição de freqüência para
                dados contínuos ou uma variável discreta quando esta apresentar muitos valores distintos.</p>
            <p>No eixo horizontal são dispostos os limites das classes segundo as quais os dados foram
                agrupados enquanto que o eixo vertical corresponde às freqüências absolutas ou relativas das
                mesmas.</p>
            <iframe width="800" height="400" src="https://www.youtube.com/embed/a5uHqAxhzF0" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
    <br><br>
    <div class="Poligno" id="poligno"></div>
        <h3>Poligno de Frequência</h3>
        <p><b>Poligno de Frequência:</b> É um gráfico de linha cuja construção é feita unindo-se os pontos de coordenadas de
                abscissas correspondentes aos pontos médios de cada classe e as ordenadas, às freqüências
                absolutas ou relativas dessas mesmas classes.</p>
        <p>O polígono de freqüência é um gráfico que deve ser fechado no eixo das abscissas. Então,
            para finalizar sua elaboração, deve-se acrescentar à distribuição, uma classe à esquerda e outra à
            direita, ambas com freqüências zero. Tal procedimento permite que a área sob a linha de
            freqüências seja igual à área do histograma.</p>
        <p>Uma das vantagens da aplicação de polígonos de freqüências é que, por serem gráficos de
            linhas, permitem a comparação entre dois ou mais conjuntos de dados por meio da superposição dos
            mesmos.</p>
            <iframe width="800" height="400" src="https://www.youtube.com/embed/I6TmU9AkLFw" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>	
    <br><br>
    <div class="Ogiva" id="ogiva"></div>
    <h3>Ogiva</h3>
    <p><b>Ogiva:</b> É um gráfico que permite descrever dados quantitativos por meio da freqüência acumulada.
            A ogiva é um gráfico de linha que une os pontos cujas abscissas são os limites superiores das
            classes, e, ordenadas suas respectivas freqüências acumuladas. Convém observa-se que o ponto inicial desse gráfico é o limite inferior do primeiro intervalo, com freqüência acumulada zero, pois
            não existe qualquer valor inferior a ele.</p>
    <p>Quando os dados contidos em cada classe são distribuídos uniformemente, pode-se estimar,
            a partir da ogiva, o número de elementos pertencentes a qualquer uma das classes que compõe a
            distribuição de freqüência dos dados e a quantidade ou porcentagem de elementos que estão abaixo
            de certo valor pertencente ao conjunto de dados.</p>
            <iframe width="800" height="400" src="https://www.youtube.com/embed/n1ZyYzFngoM" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
    <br><br>
    <div class="Ramo" id="ramo"></div>
    <h3>Ramo-e-Folhas</h3>
    <p><b>Ramo-e-Folhas</b> O diagrama Ramo-e-Folhas, criado por John Tukey, é um procedimento utilizado para
            armazenar os dados sem perda de informação. É utilizado para se ter uma idéia visual da
            distribuição dos dados. Cada valor observado, xi, da variável X, deve consistir de no mínimo dois
            dígitos e a variável pode ser tanto quantitativa discreta como contínua.</p>
    <p>Para construí-lo, divide-se cada número em duas partes. A primeira é denominada ramo e a
            segunda, folhas. O ramo consistirá de um ou mais dígitos iniciais se o valor da variável for um
            número inteiro e do número inteiro, se o valor da variável for um número com decimais. Nas folhas,
            colocam-se os dígitos restantes se o valor observado for número inteiro, ou os decimais, caso
            contrário.</p>
            <iframe width="800" height="400" src="https://www.youtube.com/embed/xMqsd1zW62Y" 
                    title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
</div>