<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

<div id="painel_conceitos">
    <h1>Variável</h1>
    <p>É a característica que vai ser observada, medida ou contada nos elementos da
        população ou da amostra e que pode variar, ou seja, assumir um valor diferente de elemento para
        elemento.Não basta identificar a variável a ser trabalhada, é necessário fazer-se distinção entre os tipos de variáveis:.</p>
    <br>
    <iframe width="800" height="400" src="https://www.youtube.com/embed/1zy6DTHQDzM" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <br>
    <br>
    <div id="acessorapido">
        <h2>Tipos de Variáveis</h2>
        <ul>
            <li>
                <a href="#qualitativa">
                    Variável qualitativa
                </a>
            </li>

            <li>
                <a href="#quantitativa">
                    Variável quantitativa
                </a>
            </li>
            <li>
                <a href="#qualitativa_nominal">
                    Variável qualitativa nominal
                </a>
            </li>

            <li>
                <a href="#qualitativa_ordinal">
                    Variável qualitativa ordinal
                </a>
            </li>
            <li>
                <a href="#quantitativa_discreta">
                    Variável quantitativa discreta
                </a>
            </li>

            <li>
                <a href="#quantitativa_continua">
                    Variável quantitativa contínua
                </a>
            </li>
            <li>
                <a href= "./imagens/Conteudo.pdf"
                    target="_blank"> Referências</a>
            </li>
        </ul>
    </div>
    <br>
    <div id="qualitativa"></div>
    <h3>Variável qualitativa:</h3>
    <p> É uma variável que assume como possíveis valores, atributos ou
        qualidades. Também são denominadas variáveis categóricas.</p>
    <div id="quantitativa"></div>
    <h3>Variável quantitativa</h3>
    <p> É uma variável que assume como possíveis valores, números.
        Cada uma dessas variáveis pode ser sub-classificada em:</p>
    <div id="qualitativa_nominal"></div>
    <h3>Variável qualitativa nominal:</h3>
    <p> É é uma variável que assume como possíveis valores,atributos ou qualidades e estes não apresentam uma ordem natural de ocorrência.</p>
    <div id="qualitativa_ordinal"></div>
    <h3>Variável qualitativa ordinal:</h3>
    <p> É uma variável que assume como possíveis valores
        atributos ou qualidades e estes apresentam uma ordem natural de ocorrência.
        Exemplo 02: estado civil dos alunos da disciplina Inferência Estatística do curso de Estatística
        da UEM: solteiro, casado, separado.</p>
    <div id="quantitativa_discreta"></div>
    <h3>Variável quantitativa discreta:</h3>
    <p> É uma variável que assume como possíveis valores
        números, em geral inteiros, formando um conjunto finito ou enumerável.
        Exemplo 03: número de reprovas, por disciplina, dos alunos da disciplina Inferência Estatística
        do curso de Estatística da UEM: 0, 1, 2...</p>
    <div id="quantitativa_continua"></div>
    <h3>Variável quantitativa contínua:</h3>
     <p> É uma variável que assume como possíveis valores
        números, em intervalos da reta real e, em geral, resultantes de mensurações.
        Exemplo 04: peso (quilogramas) dos alunos da disciplina Inferência Estatística do curso de
        Estatística da UEM: 58, 59, 63...</p>
</div>