<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Temas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cadastro de Temas</h1>
        
        <form method="post" action="./index.php?controle=tema&acao=salvar">
            {{ mensagem }}
            <br /><br />
            
            <div>
                <!-- Ocultar id, desnecessário exibir, foi usado apenas para verificação de funcionabilidade by Mayko | disabled -->
                <label for="id">ID</label>
                <input type="text" name="id" id="id" value="{{ tema.id }}"/>
                <br /><br />
                
                <label for="tema">Tema</label>
                <input type="text" name="tema" id="tema" value="{{ tema.tema }}" />
                <br /><br />
                
                <input type="submit" value="Salvar" />
            </div>
        </form>
    </body>
</html>