<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Niveis</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../../css/admin/cadastro/tela_cadastro.css">
    </head>
    <body class="background">

        <div class="d-flex justify-content-center align-items-center p-5">
            <div class="card  w-50 shadow p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-header text-center">
                    Cadastro de Níveis
                </div>
                <div class="card-body">
                    <form  class="form-inline" method="post" action="./index.php?controle=nivel&acao=salvar">
                        {{ mensagem }}
                        <br />
                        <div class="form-floating mb-3 custom-form">
                            <input type="text" class="form-control" name="nivel" id="nivel" placeholder="nivel" value="{{ nivel.nivel }}">
                            <label for="floatingInput">Nível</label>
                        </div>
                        
                        <div>
                            <!-- Ocultar id, desnecessário exibir, foi usado apenas para verificação de funcionabilidade by Mayko 
                            <label for="id">ID</label>
                            <input type="text" name="id" id="id" value="{{ nivel.id }}"/>-->                        
                            <br /><br />
                             <div class="text-center">
                                <button class="btn btn-success custom-btn" type="submit">Cadastrar</button>
                                <a class="btn btn-danger custom-btn-cadastrados" href="./index.php?controle=nivel&amp;acao=listar"> Níveis cadastrados</a>
                             </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>