<link rel="stylesheet" type="text/css" href="../../../css/admin/listagem/tela_listagem.css">
<div class="container-sm">
    <h2>Lista de níveis</h2><hr><br>

    {% if mensagem != "" %}
        <div class="alert alert-{{ tipo_mensagem }}" role="alert">
            {{ mensagem }}
        </div>
    {% endif %}

    <table class="table table-responsive table-bordered table-hover">
        <thead class="thead">
            <tr>
                <th class="custom-id">ID</th>
                <th class="custom-nome">Nível</th>
                <th class="custom-opcoes">Opções</th>
            </tr>
        </thead>

        <tbody>
            {% for item in lista %}
            <tr>
                <td class="custom-id">
                    {{ item.id }}
                </td>
                
                <td class="custom-nome">
                    {{ item.nivel }}
                </td>
                
                <td>
                    <a class="btn btn-outline-primary" href="./index.php?controle=nivel&acao=selecionar&id={{ item.id }}">Editar</a>
                    <a class="btn btn-outline-danger" href="./index.php?controle=nivel&acao=excluir&id={{ item.id }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger custom-btn" href="./index.php?controle=nivel&acao=novo">Criar novo nível</a>
</div>