<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<form method="post" action="./index.php?controle=quiz&acao=responder">
    <link rel="stylesheet" href="./css/stylecoeficiente.css">

    <div class="planodefundo">
        <header>
            <h1>Cálculo coeficiente de variação</h1>
        </header>
        
        <article>
            <img src="logo.png" width="360" height="350"></br>
            <center>
                <p>
                    Observações: <br>
                    Resultado menor ou igual a 15% → baixa dispersão: dados homogêneos. <br>
                    Resultado entre 15 e 30% → média dispersão. <br>
                    Resultado maior que 30% → alta dispersão: dados heterogêneos. <br>
                </p>
            </center>
        
            <form action="./index.php?controle=calculadora&acao=calcular_coeficiente_variacao" method="post">
                <label for="valores">Insira o coeficiente de variação: </label></br>
                <input type="text" id="valores" name="valores" value="{{ valores }}"><br> <br>
                
            <form action="./index.php?controle=calculadora&acao=calcular_coeficiente_variacao" method="post">
                <label for="valores">Insira o desvio padrão: </label></br>
                <input type="text" id="valores" name="valores" value="{{ valores }}"><br> <br>

            <form action="./index.php?controle=calculadora&acao=calcular_coeficiente_variacao" method="post">
                <label for="valores">Insira a média dos dados analisados: </label></br>
                <input type="text" id="valores" name="valores" value="{{ valores }}"></br>
                <input type="submit" value="Enviar"> <br> <br>
                
                {% if resultado != "" %}
                    Resultado: {{ resultado }}        
                {% endif %}
            </form>
        </article> 
    </div>
</form>