<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" type="text/css" href="./css/style_calcu_geral.css">

<div id="plano_fundo_calcu_geral">

<header>
   <br> <h1>Cálculo Coeficiente de Variação Populacional</h1><br>
</header>

<article>
    <img src="./imagens/miniatura_logo.png" width="190" height="190"></br>

    <p>
        O coeficiente de variação fornece a variação dos dados obtidos em relação à média. 
        Quanto menor for o seu valor, mais homogêneos serão os dados. <br>
        O coeficiente de variação é considerado baixo, quando for menor ou igual a 25%. (Exceto em pesquisas específicas)<br> <br>
    </p>

    <form action="./index.php?controle=calculadora&acao=calcular_coeficiente_variacao_populacional" method="post">
        <div id="botao">
            <label for="valores">Colocar os valores desejados entre ponto e vírgula (;): </label> <br> </br>
            <input type="text" size="60" class="valores" name="valores" value="{{ valores }}" required></br> <br>
            <input class="enviar" type="submit" value="Enviar"></br></br>
        </div>
        <p>
            {% if resultado != "" %}
            Resultado: {{ resultado }}        
            {% endif %}
        </p>
    </form>
</article>
</div>
