<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<link rel="stylesheet" type="text/css" href="./css/style_calcu_geral.css">

<div id="plano_fundo_calcu_geral">

<header>
   <br> <h1>Frequência Relativa</h1><br>
</header>

<article>
    <img src="./imagens/miniatura_logo.png" width="190" height="190"></br>

    <p> A frequência relativa é a divisão entre o número de vezes que um dado específico se repete, pela quantidade total de dados. <br>
        A frequência relativa compara a quantidade de respostas de um dado específico, com a quantidade total de respostas coletadas em uma pesquisa estatística. <br>
        Esta comparação entre uma parte das respostas em relação ao todo é feita através de uma divisão. <br> <br>
    </p>

    <form action="./index.php?controle=calculadora&acao=calcular_media" method="post">
        <div id="botao">
            <label for="valores">Colocar os valores desejados entre ponto e vírgula (;): </label> <br> </br>
            <input type="text" size="60" class="valores" name="valores" value="{{ valores }}" required></br> <br>
            <input class="enviar" type="submit" value="Enviar"></br></br>
        </div>
        <p>
            {% if resultado != "" %}
            Resultado: {{ resultado }}        
            {% endif %}
        </p>
    </form>
</article>
</div>
