<link rel="stylesheet" type="text/css" href="./css/calculadora_frequencia_relativa.css">

<header>
    <h1>Frequência relativa</h1>
</header>

<article>
    <img src="./imagens/logo.png" width="360" height="350"></br>
    <center><p>A frequência relativa é a divisão entre o número de vezes que um dado específico se repete,
         pela quantidade total de dados. A frequência relativa compara a quantidade de respostas de 
         um dado específico, com a quantidade total de respostas coletadas em uma pesquisa estatística. 
         Esta comparação entre uma parte das respostas em relação ao todo é feita através de uma divisão.
    </p></center>

    <label for="frequencia">Colocar os valores desejados entre vírgulas: </label></br>
    <input type="text" id="valor" name="valor"></br>
    <input type="submit" value="Enviar"></br></br>
</article>
    