<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<form method="post" action="./index.php?controle=quiz&acao=responder">
<link rel="stylesheet" type="text/css" href="./css/style_calcu_geral.css">

<div id="plano_fundo_calcu_geral">

<header>
    <h1>Média</h1>
</header>

<article>
    <img src="./imagens/logo.png" width="360" height="350"></br>

        <p>
            A média é a soma de todos os números divido por sua quantidade. <br> <br>
        </p>

    <form action="./index.php?controle=calculadora&acao=calcular_media" method="post">
        <div id="botao">
            <label for="valores">Colocar os valores desejados entre ponto e vírgula (;): </label> <br> </br>
            <input type="text" size="70" id="valores" name="valores" value="{{ valores }}"></br> <br>
            <input type="submit" value="Enviar"></br></br>
        </div>
        <p>
            {% if resultado != "" %}
            Resultado: {{ resultado }}        
            {% endif %}
        </p>
    </form>
</article>
</div>