<h1>Média</h1>

<p>A média pode ser definida pela soma de todos os valores divididos por sua quantidade.</p>

<form action="./index.php?controle=calculadora&acao=calcular_media" method="post">    
    <div id="botao">
        <div class="mb-3">
            <label for="valores" class="form-label">Colocar os valores desejados entre ponto e vírgula (;):</label>
            <input type="text" size="60" class="form-control valores" name="valores" value="{{ valores }}" required />
        </div>
        
        <button type="submit" class="btn btn-primary">Calcular</button>
    </div>

    <p>
        {% if resultado != "" %}
            Resultado: {{ resultado }}        
        {% endif %}
    </p>
</form>
