<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<form method="post" action="./index.php?controle=quiz&acao=responder">
    <link rel="stylesheet" href="./css/stylemediana.css">

    <div class="planodefundo">
    <h1>Cálculo da mediana</h1> <br> <br>

    <form >
        <div class="campo">
        <label  for="name">Insira os valores:</label> 
        <input type="text" size="40" id="name" name="name" required> </div> <br>

        
        <div class="campo">
        <label  for="name">Quantidades de elementos:</label> 
        <input type="text" size="15" id="name" name="name" required> </div> <br>

        <button class="botao" type="submit" onsubmit="">Calcular</button> <br>
		<br>

        <p>Resultado:</p> <br> <br>
        
    </form>
        <p>
            Observação: <br>
            Se houver uma quantidade ímpar de valores numéricos, a mediana será o valor central do conjunto numérico. <br>
            Se a quantidade de valores for um número par, devemos fazer uma média aritmética dos dois números centrais, 
            e esse resultado será o valor da mediana.
            
        </p>
    </div>
</form>