<link rel="stylesheet" type="text/css" href="./css/calculadora_frequencia_relativa.css">

<header>
    <h1>Média</h1>
</header>

<article>
    <img src="./imagens/logo.png" width="360" height="350"></br>
    <center>
        <p>descricao da média</p>
    </center>

    <form action="./index.php?controle=calculadora&acao=calcular_media" method="post">
        <label for="valores">Colocar os valores desejados entre ponto-e-vírgula: </label></br>
        <input type="text" id="valores" name="valores" value="{{ valores }}"></br>
        <input type="submit" value="Enviar"></br></br>
        
        {% if resultado != "" %}
            Resultado: {{ resultado }}        
        {% endif %}
    </form>
</article>
    