    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <link rel="stylesheet" type="text/css" href="./css/style_calcu_geral.css">
    
    <div id="plano_fundo_calcu_geral">
    
    <header>
       <br> <h1>Moda</h1><br>
    </header>
    
    <article>
        <img src="./imagens/miniatura_logo.png" width="190" height="190"></br>
    
            <p>
                A Moda representa o valor mais frequente de um conjunto de dados, sendo assim, <br> para defini-la basta sobservar a frequência com que os valores aparecem. <br> <br>
            </p>
    
        <form action="./index.php?controle=calculadora&acao=calcular_moda" method="post">
            <div id="botao">
                <label for="valores">Colocar os valores desejados entre ponto e vírgula (;): </label> <br> </br>
                <input type="text" size="60" class="valores" name="valores" value="{{ valores }}" required></br> <br>
                <input class="enviar" type="submit" value="Enviar"></br></br>
            </div>
            <p>
                {% if resultado != "" %}
                Resultado: {{ resultado }}        
                {% endif %}
            </p>
        </form>
    </article>
    </div>
    
