<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

	<div id="painel_conceitos">
		<h1>Opções de Cálculos</h1> 
		<br>
		<br>
		<ul>
			<h4> Medidas de dispersão</h4>
			<dd>
				<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_coeficiente_variacao">Coeficiente de variação</a></li> <br>
	        	<li><a href="./index.php?controle=calculadora&acao=mostrar_frequencia_relativa">Frequ&ecirc;ncia Relativa</a></li> <br>
			</dd>
	        
			<h4> Medidas de tendência</h4>
			<dd>
	      		<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_media">M&eacute;dia</a></li> <br>
		    	<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_mediana"{ echo active; } ?>M&eacute;diana</a></li> <br> 
		    </dd>
		</ul>


		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
