<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<form method="post" action="./index.php?controle=quiz&acao=responder">
    <link rel="stylesheet" href="././css/style_calcu_opc.css">

    <div class="planodefundo">

<h1>Opções</h1> <br> <br> <br>

<ul>
    <div class="edite">

        <li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_coeficiente_variacao">Coeficiente de variação</a></li> <br>

        <li><a href="./index.php?controle=calculadora&acao=mostrar_frequencia_relativa">Frequ&ecirc;ncia Relativa</a></li> <br>
    
        <li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_media">M&eacute;dia</a></li> <br>
    
        <li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_mediana">M&eacute;diana</a></li> <br> 

        
    </div>
</ul>
</div>