
<link rel="stylesheet" href="./css/conceitos_layout.css" />
<link rel="stylesheet" href="./css/conceitos_titulos.css" />

	<div id="painel_conceitos">
		<h1>Opções de Cálculos</h1> 
		<br>
		<br>
		<ul>
			<h4> Medidas de Tendência Central</h4>
			<dd>
	      		<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_media">M&eacute;dia</a></li> <br>
		    	<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_mediana"{ echo active; } ?>M&eacute;diana</a></li> <br>
		    	<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_moda"{ echo active; } ?>Moda</a></li> <br>


		    </dd>
			<h4> Medidas de Dispersão</h4>
			<dd>
				<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_amplitude">Amplitude</a></li> <br>

				<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_variancia_amostral"{ echo active; } ?>Variância Amostral</a></li> <br> 
				
				<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_variancia_populacional"{ echo active; } ?>Variância Populacional</a></li> <br> 
				
				<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_desvio_amostral">Desvio Padrão Amostral</a></li> <br>
				
				<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_desvio_populacional">Desvio Padrão Populacional</a></li> <br>

				<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_coeficiente_variacao_amostral">Coeficiente de Variação Amostral</a></li> <br>
				
				<li><a href="./index.php?controle=calculadora&acao=mostrar_calculo_coeficiente_variacao_populacional">Coeficiente de Variação Populacional</a></li> <br>
	        	
	        	

			<br>
			<br>
			<br>
			<br>
			<br>
			
		</ul>


		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		
	</div>
