<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/admin/usuarios/cadastro.css">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center p-5">
        
            <div class="card w-80 shadow p-3 mb-5 bg-body-tertiary rounded" >
                <div class="card-header text-center">
                    Cadastro de Usuários
                </div>
                <div class="card-body">
                    <form method="post" action="./index.php?controle=usuario&acao=salvar"></form>
                        {% if mensagem != "" %}
                            <div class="alert alert-{{ tipo_mensagem }}" role="alert">
                                {{ mensagem }}
                            </div>
                        {% endif %}

                        <!-- {% if usuario.id != null %}
                            <div class="form-floating mb-2  custom-form text-id">
                                <input type="text" name="id" id="id" class="form-control" placeholder="id" />
                                <label for="floatingInput">Id</label>
                            </div>
                        {% endif %} -->
                        
                        <div class="form-floating mb-3 custom-form ">
                            <input type="text" class="form-control" name="nome" placeholder="nome" id="nome" />
                            <label  for="floatingInput">Nome</label>
                            <!-- O seguinte atributo value="{{ usuario.nome }}" colocado inicialmente foi retirado, assim como em todos inputs abaixo -->
                        </div>

                        <div class="form-floating mb-3 custom-form ">
                            <input type="email" class="form-control" placeholder="nome" name="email" id="email" />
                            <label for="floatingInput">E-mail</label>
                        </div>

                        <div class="form-floating mb-3 custom-form ">
                            <select class="form-select" name="curso">
                                <option disabled selected value="" >Selecione um curso</option>
                                {% for curso in cursos %}
                                    <option value="{{ curso.id }}" {{ curso.id == usuario.curso.id ? "selected" : "" }}>{{ curso.nome }}</option>
                                {% endfor %}
                            </select>
                            <label for="floatingInput">Curso</label>
                        </div>

                        <div class="form-floating mb-3 custom-form ">
                            <input type="text" name="login" id="login" class="form-control" placeholder="login" />
                            <label for="floatingInput">Login</label>
                        </div>

                        {% if usuario.id == null %}
                            <div class="form-floating mb-3 custom-form ">
                                <input type="password" name="senha" id="senha" value="" class="form-control" placeholder="senha"/>
                                <label for="floatingInput">Senha</label>
                            </div>

                            <div class="form-floating mb-3 custom-form ">
                                <input type="password" name="confirmar_senha" id="confirmar_senha" value="" class="form-control" />
                                <label for="floatingInput">Confirmar Senha</label>
                            </div>
                        {% endif %}
                            <div class="text-center">
                                <button class="btn btn-success custom-btn" type="submit">Cadastrar</button>
                                <a class="btn btn-danger custom-btn-cadastrados" href="./index.php?controle=usuario&amp;acao=listar"> Cursos Cadastrados</a>
                            </div>
                    </form>
                </div>
            </div>    
        
    </div>
</body>
</html>