<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Painel Administrativo</title>

        <link rel="stylesheet" href="{{NODE_DIR}}/bootstrap/dist/css/bootstrap.min.css" />

        <script src="{{NODE_DIR}}/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{{NODE_DIR}}/jquery/dist/jquery.js"></script>
    </head>
    <body>
        <div class="layout">
            <div class="menu">
                {{ include("admin/menu.html") }}
            </div>
            
            <div class="conteudo">
                {{ include(pagina) }}
            </div>
        </div>
    </body>
</html>
