<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Painel Administrativo</title>
        <link rel="stylesheet" href="css/StyleAdm.css">
    </head>
    <body>
        {{ include("admin/menu.html") }}
        
        <div class="box">
            <div class="botoes">
                <img src="./imagens/perfil.png" width="25" height="25">
                
                <a href="./index.php?controle=administrador&amp;acao=deslogar">
                    <img src="./imagens/sair.png" width="25" height="25" />
                </a>
            </div>

            {{ include(pagina) }}
        </div>
    </body>
</html>
