<!doctype html>
	<html lang = "pt">
<head>
	<title>Login Administrativo </title> 
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/layoutLoginADM.css">
</head>
<body>
<div class = "formulario">
	<form >
		<div class = "loginAdm">
			<img class= "logo" src="./imagens/logoADM.png" alt="logo">
			<br>
			<h3>Login Administrativo:</h3>
		</div>
		<br><br>
		<div class= "Inputbox">
			<input type="text" placeholder="Admin" name="admin" id="admin">
				<br><br>
			<input type="password" placeholder="Senha" name="Nome" id = "senha">
		</div>
		<br>
		<div >
			<input class="botao-entrar" type="submit" name="submit" >
		</div>
	</form>
</div>
</body>
