<ul>
    <li> Cadastrar
        <ul>
            <li><a href="./index.php?controle=curso&acao=novo">Curso</a></li>            
            <li><a href="./index.php?controle=tema&acao=novo">Tema</a></li>
            <li><a href="./index.php?controle=nivel&acao=novo">Nível</a></li>
            <li><a href="./index.php?controle=questao&acao=novo">Questao</a></li>

        </ul>
    </li>

    <li> Listar
        <ul>
            <li><a href="./index.php?controle=curso&acao=listar">Curso</a></li>
            <li><a href="./index.php?controle=tema&acao=listar">Tema</a></li>
            <li><a href="./index.php?controle=nivel&acao=listar">Nível</a></li>
            <li><a href="./index.php?controle=questao&acao=listar">Questao</a></li>
            
        </ul>
    </li>
</ul>