<link rel="stylesheet" type="text/css" href="../../css/admin/menu/menu_painel_administrativo.css">
<nav class="navbar navbar-expand-lg bg-menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="./index.php?controle=administrador&amp;acao=painel">Painel Administrativo</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="./index.php?controle=administrador&amp;acao=deslogar">
                        Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

