<div class="organizar">
    <h1>Painel Administrativo</h1>

    <div class="caixaA"> 
        <img src="./imagens/mais.png" width="30" height="30">
        <span>Cadastrar curso</span>
        <br /><br />
        <img src="./imagens/editar.png" width="30" height="30">
        <span>Editar curso</span>
    </div>

    <div class="caixaB">
        <img src="./imagens/mais.png" width="30" height="30">
        <span>Cadastrar temas</span>
        <br /><br />
        <img src="./imagens/editar.png" width="30" height="30">
        <span>Editar temas</span>  
    </div>

    <div class="caixaC">
        <img src="./imagens/mais.png" width="30" height="30">
        <span>Cadastrar niveis</span>
        <br /><br />
        <img src="./imagens/editar.png" width="30" height="30">
        <span>Editar niveis</span> 
    </div>

    <div class="caixaD">
        <img src="./imagens/mais.png" width="30" height="30">
        <span>Cadastrar questoes</span>
        <br /><br />
        <img src="./imagens/editar.png" width="30" height="30">
        <span>Editar questoes </span>
    </div>

    <div class="caixaE">
        <img src="./imagens/mais.png" width="30" height="30">
        <span>Cadastrar quizes</span>
        <br /><br />
        <img src="./imagens/editar.png" width="30" height="30">
        <span>Editar quizes</span>
    </div>
  </div>
  