<style>
a {
  text-decoration: none;
}
</style>
<div class="organizar">
    <h1>Painel Administrativo</h1>

    <div class="caixaA"> 
        <a href="./index.php?controle=curso&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            <span>Cadastrar curso</span>
        </a>
        
        <br /><br />
        
        <a href="./index.php?controle=curso&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            <span>Editar curso</span>
        </a>
    </div>

    <div class="caixaB">
        <a href="./index.php?controle=tema&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            <span>Cadastrar temas</span>
        </a>
        <br /><br />
        
        <a href="./index.php?controle=tema&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            <span>Editar temas</span>  
        </a>
    </div>

    <div class="caixaC">
        <a href="./index.php?controle=nivel&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            <span>Cadastrar niveis</span>
        </a>
        <br /><br />
        
        <a href="./index.php?controle=nivel&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            <span>Editar niveis</span> 
        </a>
    </div>

    <div class="caixaD">
        <a href="./index.php?controle=questao&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            <span>Cadastrar questoes</span>
        </a>
        
        <br /><br />
        
        <a href="./index.php?controle=questao&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            <span>Editar questoes </span>
        </a>
    </div>

    <div class="caixaE">
        <a href="./index.php?controle=quiz&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            <span>Cadastrar quizes</span>
        </a>
        
        <br /><br />
        
        <a href="./index.php?controle=quiz&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            <span>Editar quizes</span>
        </a>
    </div>
  </div>
  