<link rel="stylesheet" href="css/admin/dashboard.css">

<div class="caixas">
    <div class="caixa"> 
        <a href="./index.php?controle=curso&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            Cadastrar curso
        </a>
        
        <a href="./index.php?controle=curso&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            Editar curso
        </a>
    </div>

    <div class="caixa">
        <a href="./index.php?controle=tema&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            Cadastrar temas
        </a>
        
        <a href="./index.php?controle=tema&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            Editar temas
        </a>
    </div>

    <div class="caixa">
        <a href="./index.php?controle=nivel&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            Cadastrar niveis
        </a>
        
        <a href="./index.php?controle=nivel&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            Editar niveis
        </a>
    </div>

    <div class="caixa">
        <a href="./index.php?controle=questao&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            Cadastrar questoes
        </a>
        
        <a href="./index.php?controle=questao&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            Editar questoes
        </a>
    </div>

    <div class="caixa">
        <a href="./index.php?controle=quiz&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            Cadastrar quizes
        </a>
        
        <a href="./index.php?controle=quiz&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            Editar quizes
        </a>
    </div>

    <div class="caixa">
        <a href="./index.php?controle=usuario&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            Cadastrar usu&aacute;rios
        </a>
        
        <a href="./index.php?controle=usuario&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            Editar usu&aacute;rios
        </a>
    </div>

    <div class="caixa">
        <a href="./index.php?controle=administrador&amp;acao=novo">
            <img src="./imagens/mais.png" width="30" height="30">
            Cadastrar administradores
        </a>
        
        <a href="./index.php?controle=administrador&amp;acao=listar">
            <img src="./imagens/editar.png" width="30" height="30">
            Listar administradores
        </a>
    </div>
</div>  