<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Principais comandos R em estatística</h2>

    <h4> - Para atribuir variáveis:</h4>
    <li>    'x <- 5' ou 'x = 5' ou 'x <<- 5'</li>
    <br>

    <h4> - Para resolver operações matemáticas:</h4>
    <li>    '+, -, *, /, ^' (adição, subtração, multiplicação, divisão, potenciação; respectivamente)</li>
    <br>

    <h4> - Para mostrar a tabela na tela:</h4>
    <li>    'print(nome_tabela)'</li>
    <br>

    <h4> - Para calcular a variância:</h4>
    <li>    'variancia <- var(nome_tabela$Item)'</li>
    <br>

    <h4> - Para calcular o desvio padrão:</h4>
    <li>    'desvio_padrao <- sd(nome_tabela$Item)'</li>
    <br>

    <h4> - Para resolver funções matemáticas :</h4>
    <li>    'sqrt(), exp(), log(), sin(), cos(), tan()', entre outros.</li>
    <br>

    <h4> - Para calcular vetores e matrizes:</h4>
    <li>    'c()', 'vector()', 'matrix()', 'array()'</li>
    <br>

    <h4> - Para listar listas:</h4>
    <li>    'list()'</li>
    <br>

    <h4> - Para fazer Data Frames:</h4>
    <li>    'data.frame()'</li>
    <br>

    <h4> - Para acessar estruturas de controle:</h4>
    <li>    'if', 'else', 'for', 'while', 'repeat', 'break', 'next'.</li>
    <br>

    <h4> - Para realizar funções definidas pelo usuário:</h4>
    <li>    'function()'</li>
    <br>

    <h4> - Para fazer gráficos básicos:</h4>
    <li>    'plot()', 'hist()', 'boxplot()', 'barplot()', 'pie()'</li>
    <br>

    <h4> - Para manipulação de arquivos e diretórios:</h4>
    <li>    'read.csv()', 'write.csv()', 'file.choose()', 'setwd()', 'getwd()'</li>
    <br>

    <h4> - Para manipulação de pacotes:</h4>
    <li>    'install.packages()', 'library()', 'require()'</li>
    <br>

    <h4> - Para estatísticas descritivas:</h4>
    <li>    'mean()', 'median()', 'sd()', 'var()', 'cor()', 'cov()'</li>
    <br>

    <h4> - Para realizar testes estatísticos:</h4>
    <li>    't.test()', 'wilcox.test()', 'chisq.test()', 'fisher.test()', 'cor.test()'</li>
    <br>

    <h4> - Para realizar modelagem estatística: :</h4>
    <li>    'lm()', 'glm()', 'aov()', 'predict()', 'anova()'</li>
    <br>

</body>
</html>

