<h2>Terminal Interativo</h2>

<!-- https://www.tutorialspoint.com/how-to-add-a-new-element-to-html-dom-in-javascript -->

<link rel="stylesheet" href="./css/terminal_interativo.css">

<form id="add" name="formulario" method="post" action="./index.php?controle=terminalinterativo&acao=processar">
    <div style="padding: 20px;">
        <div id="comandos">
            {% for c in comandos %}
                <div class="comando">
                    <textarea name="comandos[]">{{ c }}</textarea>
                </div>

                <div class="resultado">
                    {{ resultados[loop.index - 1] | nl2br }}
                </div>
            {% endfor %}
        </div>
        
        <input onclick="criarComando()" type="button" value="Adicionar comando" />
        <input type="submit" value="Calcular" />        
    </div>
    
</form>
<script>
    function criarComando(){
        var div = document.createElement('div');
        var comando = document.createElement('textarea');
        div.className = "comando";
        comando.name = "comandos[]";

        var comandos = document.getElementById("comandos");        

        div.appendChild(comando);
        comandos.appendChild(div);
    }    
</script>