<h2>Terminal Interativo</h2>

<link rel="stylesheet" href="./css/terminal_interativo.css">

<form method="post" action="./index.php?controle=terminalinterativo&acao=processar">
    <div style="padding: 20px;">
        {% for c in comandos %}
            <div class="comando">
                <textarea name="comandos[]">{{ c }}</textarea>
            </div>

            <div class="resultado">
                {{ resultados[loop.index - 1] }}
            </div>
            <br />
        {% endfor %}
        
        <input type="submit" value="Calcular" />
    </div>
</form>