<!DOCTYPE html>
<html lang="pt-br" class="h-full bg-white">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Usuário</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="{{JS_DIR}}/jquery/dist/jquery.js"></script>
    <script>
      function emailVal(email) {
        var filtroEmail = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        var charsIlegal = /[\(\)\<\>\,\;\:\\\/\"\[\]]/;
        return filtroEmail.test(email);
        return email.match(charsIlegal);
      }

      $("domcument").ready(function () {
        $("#nome").keyup(function () {
          if ($(this).val() === "") {
            $("#nome").css("box-shadow", "0 0 0 1px red");
          } else {
            $("#nome").css("box-shadow", "0 0 0 1px green");
          }
        });
        $("#email").keyup(function () {
          if ($(this).val() === "") {
            $("#email").css("box-shadow", "0 0 0 1px red");
          } else if (emailVal($(this).val())) {
            $("#email").css("box-shadow", "0 0 0 1px green");
            $("#email").focus();
            console.log("Digite um email valído!");
          } else if (!emailVal($(this).val())) {
            $("#email").css("box-shadow", "0 0 0 1px red");
            $("#email").focus();
          }
        });
        $("#senha").keyup(function () {
          if ($(this).val() === "") {
            $("#senha").css("box-shadow", "0 0 0 1px red");
          } else if (
            $(this).val() === $("#confirmar_senha").val() &&
            $(this).val().length > 4
          ) {
            $("#senha").css("box-shadow", "0 0 0 1px green");
            $("#confirmar_senha").css("box-shadow", "0 0 0 1px green");
          } else {
            $("#senha").css("box-shadow", "0 0 0 1px red");
          }
        });
        $("#confirmar_senha").keyup(function () {
          if ($(this).val() === "") {
            $("#confirmar_senha").css("box-shadow", "0 0 0 1px red");
          } else if (
            $(this).val() === $("#senha").val() &&
            $(this).val().length > 4
          ) {
            $("#confirmar_senha").css("box-shadow", "0 0 0 1px green");
            $("#senha").css("box-shadow", "0 0 0 1px green");
          } else {
            $("#confirmar_senha").css("box-shadow", "0 0 0 1px red");
          }
        });
        $("#cadastrar").submit(function (event) {
          event.preventDefault();

          var nome = $("#nome").val();
          var email = $("#email").val();
          var senha = $("#senha").val();
          var senhaConfirm = $("#confirmar_senha").val();

          if (
            nome === "" ||
            email === "" ||
            senha === "" ||
            senhaConfirm === ""
          ) {
            alert("Por favor, preencha todos os campos.");
          } else {
            this.submit();
          }
        });
      });
    </script>
  </head>
  <body class="h-full">
    <div
      class="container flex flex-1 md:flex-col justify-center mx-auto h-full w-full bottom-0"
    >
      <div
        class="bg-white md:py-4 px-4 w-full text-sm md:text-base md:border-2 md:shadow-md md:shadow-grey-900 md:rounded-lg md:max-w-lg md:mx-auto md:px-8 md:py-8"
      >
        <div class="mb-6 insert-y-12">
          <img
            src="../imagens/logo.png"
            alt="logo_quiz"
            class="mx-auto h-40 w-auto"
          />
          <h2 class="text-2xl text-center text-gray-700 font-semibold">
            Cadastro de Usuário
          </h2>
        </div>
        <div class="md:mx-auto md:w-full">
          <form
            method="post"
            action="./index.php?controle=usuario&acao=inserir_novo"
            id="cadastrar"
          >
            <div class="mb-6">
              <label for="nome" class="block text-gray-700 font-semibold"
                >Nome completo</label
              >
              <input
                type="text"
                id="nome"
                name="nome"
                placeholder="Digite seu nome completo"
                class="w-full mt-2 p-2 outline-none text-gray-700 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-inset focus:text-gray-900 focus:ring-gray-500"
                required
              />
            </div>
            <div class="mb-6">
              <label for="nome" class="block text-gray-700 font-semibold"
                >Nome de usuário</label
              >
              <input
                type="text"
                id="login"
                name="login"
                placeholder="Digite seu nome de usuário"
                class="w-full mt-2 p-2 outline-none text-gray-700 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-inset focus:text-gray-900 focus:ring-gray-500"
                required
              />
            </div>
            <div class="mb-6">
              <label for="email" class="block text-gray-700 font-semibold"
                >E-mail</label
              >
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Digite seu email"
                class="w-full mt-2 p-2 outline-none text-gray-700 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-inset focus:text-gray-900 focus:ring-gray-500"
                required
              />
            </div>
            <div class="mb-6">
              <label for="curso" class="block text-gray-700 font-semibold">Cursos</label>
              <select class="form-select w-full mt-2 p-2 outline-none text-gray-700 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-inset focus:text-gray-900" name="curso">
                <option>Selecione um curso</option>
                {% for curso in cursos %}
                <option value="{{ curso.id }}" {{ curso.id==usuario.curso.id ? "selected" : "" }}>{{ curso.nome }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-6">
              <label for="senha" class="block text-gray-700 font-semibold"
                >Senha</label
              >
              <input
                type="password"
                id="senha"
                name="senha"
                placeholder="Digite sua senha"
                class="w-full mt-2 p-2 outline-none text-gray-700 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-inset focus:text-gray-900 focus:ring-gray-500"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="confirmar_senha"
                class="block text-gray-700 font-semibold"
                >Confirmar senha</label
              >
              <input
                type="password"
                id="confirmar_senha"
                name="confirmar_senha"
                placeholder="Digite a senha novamente"
                class="w-full mt-2 p-2 outline-none text-gray-700 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-inset focus:text-gray-900 focus:ring-gray-500"
                required
              />
            </div>
            <div
              class="space-y-4 md:space-y-0 md:flex md:items-center md:justify-between mb-2"
            >
              <div class="flex items-center space-x-1">
                <span class="text-gray-400 text-xs font-light"
                  >Já possuí uma conta?</span
                >
                <a
                  href="./index.php?controle=principal&acao=deslogar"
                  class="text-red-500 font-medium"
                  >Faça login</a
                >
              </div>
              <div class="flex">
                <button
                  type="submit"
                  class="w-full bg-red-500 hover:bg-red-700 text-white items-center font-medium py-2 px-6 rounded-full"
                  id="btnCadastrar"
                >
                  Cadastrar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
