<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Usuário</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-200 flex items-center justify-center h-screen">
    <div class="bg-white p-8 shadow-md rounded-lg max-w-md w-full">
      <h2 class="text-2xl font-semibold mb-6">Cadastro de Usuário</h2>
      <form>
        <div class="mb-4">
          <label for="nome" class="block text-gray-700 font-semibold"
            >Nome:</label
          >
          <input
            type="text"
            id="nome"
            name="nome"
            class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:ring-red-500 focus:border-red-500"
            required
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block text-gray-700 font-semibold"
            >E-mail:</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:ring-red-500 focus:border-red-500"
            required
          />
        </div>
        <div class="mb-6">
          <label for="senha" class="block text-gray-700 font-semibold"
            >Senha:</label
          >
          <input
            type="password"
            id="senha"
            name="senha"
            class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:ring-red-500 focus:border-red-500"
            required
          />
        </div>
        <div class="mb-6">
          <label for="senha2" class="block text-gray-700 font-semibold"
            >Confirme sua Senha:</label
          >
          <input
            type="password"
            id="senha2"
            name="senha2"
            class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:ring-rede-500 focus:border-red-500"
            required
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-full"
            onclick="window.location.href = 'index.php?controle=usuario&acao=cadastre_se'"
          >
            Cadastrar
          </button>
          <a
            href="./index.php?controle=usuario&acao=login"
            class="text-red-500 hover:underline"
            >Já tem uma conta? Faça login</a
          >
        </div>
      </form>
    </div>
  </body>
</html>
