<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Esqueci Minha Senha</title>
    <link rel="icon" href="../imagens/miniatura_logo.png" />
    <link href="../dist/output.css" rel="stylesheet" />
    <script src="{{JS_DIR}}/jquery/dist/jquery.js"></script>
  </head>
  <body class="bg-white flex items-center justify-center h-screen">
    <div
      class="bg-white px-4 w-full text-sm md:text-base md:border-2 md:shadow-md md:shadow-grey-900 md:rounded-lg md:max-w-lg md:mx-auto md:px-8 md:py-4"
    >
      <h2 class="text-2xl font-semibold mb-6">Esqueci Minha Senha</h2>
      <p class="text-gray-700 mb-4">
        Informe seu endereço de e-mail registrado abaixo e enviaremos um link
        para redefinir sua senha.
      </p>
      <form>
        <div class="mb-4">
          <label for="email" class="block text-gray-700 font-semibold"
            >E-mail:</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:ring-red-500 focus:border-red-500"
            required
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-full"
          >
            Enviar Link de Redefinição
          </button>
          <a
            href="./index.php?controle=principal&acao=deslogar"
            class="text-red-500 hover:underline"
            >Voltar ao Login</a
          >
        </div>
      </form>
    </div>
  </body>
</html>
