<meta charset="utf-16">
<style>
 .bot {
	background-color:#ffff00;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
</style>
<body style="background-color: FF0000;">
 <div style="font-size: 32;text-align: center; font-family: Roboto Serif">
  <p style="color: #000000; background-color: #FFFF00">ESQUECEU A SENHA?</p>
 </div>
 <br>
 <center><img src="./imagens/logo.png" class="logo"></center><br>
 <center><input type="text"; id: "nome"; style="width: 750px; height: 31px;" placeholder="Nome de usuário"></center><br>
 <center><input type="text"; id: "nome"; style="width: 750px; height: 31px;" placeholder="E-mail"></center><br>
 <center><a href="#" class="bot">ENVIAR E-MAIL DE RECUPERAÇÃO</a></center>
</body>