<link rel="stylesheet" href="./css/expediente.css" />

<h1>Expediente</h1>

<div class="expediente">
    <h2>4&ordm; Período, Sistemas de Informação (2022), IF Goiano - Campus Ceres</h2>

    <a href="https://github.com/Ronneesley" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/29005089?v=4" 
             alt="Ronneesley Moura Teles" title="Ronneesley Moura Teles" />
    </a>
    
    <a href="https://github.com/luizalves57081" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114269593?v=4" 
             alt="Luiz Gustavo Alves Alencar" title="Luiz Gustavo Alves Alencar" />
    </a>
    
    <a href="https://github.com/faculdadeifgoiano" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114781798?v=4" 
             alt="José (colocar nome completo)" title="José (colocar nome completo)" />
    </a>
</div>