<link rel="stylesheet" href="./css/expediente.css" />

<h1>Expediente</h1>

<div class="expediente">
    <h2>Professor</h2>

    <a href="https://github.com/Ronneesley" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/29005089?v=4" 
             alt="Ronneesley Moura Teles" title="Ronneesley Moura Teles" />
    </a>
    <h2>4&ordm; Período, Sistemas de Informação (2022), IF Goiano - Campus Ceres</h2>
    
    <a href="https://github.com/luizalves57081" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114269593?v=4" 
             alt="Luiz Gustavo Alves Alencar" title="Luiz Gustavo Alves Alencar" />
    </a>
    
    <a href="https://github.com/faculdadeifgoiano" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114781798?v=4" 
             alt="Jose Pedro Alves Neto" title="Jose Pedro Alves Neto" />
    </a>
        <a href="https://github.com/anaclaralacerda9" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114753160?v=4" 
             alt="Ana Clara Lacerda da Silva" title="Ana Clara Lacerda da Silva" />
    </a>
        <a href="https://github.com/DaiannyEvillin" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/112905227?v=4" 
             alt="Daianny Evillin Costa de Oliveira" title="Daianny Evillin Costa de Oliveira" />
    </a>
        <a href="https://github.com/NoSensel" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/107761507?v=4" 
             alt="Elyas Augusto Ferreira de Oliveira" title="Elyas Augusto Ferreira de Oliveira" />
    </a>
            <a href="https://github.com/Emanuel331" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114269104?v=4" 
             alt="Emanuel Gonçalves Menezes" title="Emanuel Gonçalves Menezes" />
    </a>
                <a href="https://github.com/GeovanaSilvaMat" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114268738?v=4" 
             alt="Geovana Silva Matuzinho" title="Geovana Silva Matuzinho" />
    </a>
                 <a href="https://github.com/guihcm" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114782172?v=4" 
             alt="Guilherme Henrique Cândido de Moraes" title="Guilherme Henrique Cândido de Moraes" />
    </a>
                 <a href="https://github.com/joaofellip33" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114270117?v=4" 
             alt="João Fellipe Lemos Costa" title="João Fellipe Lemos Costa" />
    </a>
                 <a href="https://github.com/JohnP09" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114269031?v=4" 
             alt="João Pedro Inacio Porto Vidigal" title="João Pedro Inacio Porto Vidigal" />
    </a>
                 <a href="https://github.com/jorda22" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114269707?v=4" 
             alt="Jordana Barbosa Alves" title="Jordana Barbosa Alves" />
    </a>
                 <a href="https://github.com/Laurasouusa" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114268949?v=4" 
             alt="Laura Sousa Lima" title="Laura Sousa Lima" />
    </a>
                     <a href="https://github.com/layzalopes" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/112736341?v=4" 
             alt="Láyza Ferreira Lopes" title="Láyza Ferreira Lopes" />
    </a>
                     <a href="https://github.com/leunardomaia" target="_blank">
        <img src=https://avatars.githubusercontent.com/u/99220245?v=4"" 
             alt="Leonardo Ferreira Maia" title="Leonardo Ferreira Maia" />
    </a>
                     <a href="https://github.com/LucasM-FT" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/108021391?v=4"
             alt="Lucas Martins Jesus Oliveira" title="Lucas Martins Jesus Oliveira" />
    </a>
                     <a href="https://github.com/mariaduardasa" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114781382?v=4"
             alt="Maria Eduarda de Sá" title="Maria Eduarda de Sá" />
    </a>
                     <a href="https://github.com/MaykoDiouzef" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/102808250?v=4"
             alt="Mayko Diouzef Mendes do Amaral" title="Maria Eduarda de Sá" />
    </a>
                     <a href="https://github.com/RamildoJunior" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/102613576?v=4"
             alt="Ramildo Pereira da Silva Junior" title="Ramildo Pereira da Silva Junior" />
    </a>
                     <a href="https://github.com/rayllander" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114268718?v=4"
             alt="Rayllander Antonio Matias de Morais" title="Rayllander Antonio Matias de Morais" />
    </a>
                     <a href="https://github.com/Uigorteodoro" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/107517025?v=4"
             alt="Uigor Teodoro Martins" title="Uigor Teodoro Martins" />
    </a>
                     <a href="https://github.com/Wagner012" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/31023039?v=4"
             alt="Wagner Martins Rocha" title="Wagner Martins Rocha" />
    </a>
                     <a href="https://github.com/Welington-M-Silva" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114268809?v=4"
             alt="Welington Matuzinho da Silva" title="Welington Matuzinho da Silva" />
    </a>
</div>
