<link rel="stylesheet" href="./css/expediente.css" />

<h1>Expediente</h1>

<div class="expediente">
     <h2>Professor</h2>
 
     <a href="https://github.com/Ronneesley" target="_blank">
         <img src="https://avatars.githubusercontent.com/u/29005089?v=4" 
              alt="Ronneesley Moura Teles" title="Ronneesley Moura Teles" />
     </a>

     
     <a href="https://github.com/Roitier" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/7534447?v=4" 
               alt="Roitier Campos " title="Roitier Campos" />
     </a>
     <h2>4&ordm; Período, Sistemas de Informação (2023), IF Goiano - Campus Ceres</h2>
     
     <a href="https://github.com/jpborgesaraujo" target="_blank">
         <img src="https://avatars.githubusercontent.com/u/116849630?v=4" 
              alt="João Pedro Borges Araujo" title="João Pedro Borges Araujo" />
     </a>

     <a href="https://github.com/isaqwe" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/107702562?v=4" 
               alt="Isaque Pontes Romualdo" title="Isaque Pontes Romualdo" />
     </a>
     <a href="https://github.com/CarlosHMms" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/107642033?v=4" 
               alt="Carlos Henrique Mota Martins" title="Carlos Henrique Mota Martins" />
     </a>

     </a>
     <a href="https://github.com/orlandofilho04" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/83872014?s=400&u=188875ca4ce7061d383fb487aa19b99835fe5dd4&v=4" 
               alt="Orlando Soares de Santana Filho" title="Orlando Soares de Santana Filho" />
     </a>

     <a href="https://github.com/GuiAlencar" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/82476708?v=4" 
               alt="Guilherme Henrique Gontijo Alencar" title="Guilherme Henrique Gontijo Alencar" />
     </a>
     
      <a href="https://github.com/matheusob25" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/116849242?v=4" 
               alt="Matheus Oliveira Brandão" title="Matheus Oliveira Brandão" />
      </a>

     <a href="https://github.com/samucosta13" target="_blank">
         <img src="https://avatars.githubusercontent.com/u/65738612?v=4" 
              alt="Samuel Felipe Costa" title="Samuel Felipe Costa" />
     </a>
     <a href="https://github.com/bielvitooor" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/89099674?v=4" 
               alt="Gabriel Vítor Silva Brito" title="Gabriel Vítor Silva Brito" />
      </a>
      
      <a href="https://github.com/Felipe7690" target="_blank">
          <img src="https://avatars.githubusercontent.com/u/94195840?v=4" 
               alt="Felipe Rafael Gomes" title="Felipe Rafael Gomes" />
               
      </a>
</div>

<div class="expediente">
    <h2>Professor</h2>

    <a href="https://github.com/Ronneesley" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/29005089?v=4" 
             alt="Ronneesley Moura Teles" title="Ronneesley Moura Teles" />
    </a>
    <h2>4&ordm; Período, Sistemas de Informação (2022), IF Goiano - Campus Ceres</h2>
    
    <a href="https://github.com/luizalves57081" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114269593?v=4" 
             alt="Luiz Gustavo Alves Alencar" title="Luiz Gustavo Alves Alencar" />
    </a>
    
    <a href="https://github.com/faculdadeifgoiano" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114781798?v=4" 
             alt="Jose Pedro Alves Neto" title="Jose Pedro Alves Neto" />
    </a>
        <a href="https://github.com/anaclaralacerda9" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114753160?v=4" 
             alt="Ana Clara Lacerda da Silva" title="Ana Clara Lacerda da Silva" />
    </a>
        <a href="https://github.com/DaiannyEvillin" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/112905227?v=4" 
             alt="Daianny Evillin Costa de Oliveira" title="Daianny Evillin Costa de Oliveira" />
    </a>
        <a href="https://github.com/NoSensel" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/107761507?v=4" 
             alt="Elyas Augusto Ferreira de Oliveira" title="Elyas Augusto Ferreira de Oliveira" />
    </a>
            <a href="https://github.com/Emanuel331" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114269104?v=4" 
             alt="Emanuel Gonçalves Menezes" title="Emanuel Gonçalves Menezes" />
    </a>
                <a href="https://github.com/GeovanaSilvaMat" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114268738?v=4" 
             alt="Geovana Silva Matuzinho" title="Geovana Silva Matuzinho" />
    </a>
                 <a href="https://github.com/guihcm" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114782172?v=4" 
             alt="Guilherme Henrique Cândido de Moraes" title="Guilherme Henrique Cândido de Moraes" />
    </a>
                 <a href="https://github.com/joaofellip33" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114270117?v=4" 
             alt="João Fellipe Lemos Costa" title="João Fellipe Lemos Costa" />
    </a>
                 <a href="https://github.com/JohnP09" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114269031?v=4" 
             alt="João Pedro Inacio Porto Vidigal" title="João Pedro Inacio Porto Vidigal" />
    </a>
                 <a href="https://github.com/jorda22" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114269707?v=4" 
             alt="Jordana Barbosa Alves" title="Jordana Barbosa Alves" />
    </a>
                 <a href="https://github.com/Laurasouusa" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114268949?v=4" 
             alt="Laura Sousa Lima" title="Laura Sousa Lima" />
    </a>
                     <a href="https://github.com/layzalopes" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/112736341?v=4" 
             alt="Láyza Ferreira Lopes" title="Láyza Ferreira Lopes" />
    </a>
                     <a href="https://github.com/leunardomaia" target="_blank">
        <img src=https://avatars.githubusercontent.com/u/99220245?v=4"" 
             alt="Leonardo Ferreira Maia" title="Leonardo Ferreira Maia" />
    </a>
                     <a href="https://github.com/LucasM-FT" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/108021391?v=4"
             alt="Lucas Martins Jesus Oliveira" title="Lucas Martins Jesus Oliveira" />
    </a>
                     <a href="https://github.com/mariaduardasa" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114781382?v=4"
             alt="Maria Eduarda de Sá" title="Maria Eduarda de Sá" />
    </a>
                     <a href="https://github.com/MaykoDiouzef" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/102808250?v=4"
             alt="Mayko Diouzef Mendes do Amaral" title="Maria Eduarda de Sá" />
    </a>
                     <a href="https://github.com/RamildoJunior" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/102613576?v=4"
             alt="Ramildo Pereira da Silva Junior" title="Ramildo Pereira da Silva Junior" />
    </a>
                     <a href="https://github.com/rayllander" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114268718?v=4"
             alt="Rayllander Antonio Matias de Morais" title="Rayllander Antonio Matias de Morais" />
    </a>
                     <a href="https://github.com/Uigorteodoro" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/107517025?v=4"
             alt="Uigor Teodoro Martins" title="Uigor Teodoro Martins" />
    </a>
                     <a href="https://github.com/Wagner012" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/31023039?v=4"
             alt="Wagner Martins Rocha" title="Wagner Martins Rocha" />
    </a>
                     <a href="https://github.com/Welington-M-Silva" target="_blank">
        <img src="https://avatars.githubusercontent.com/u/114268809?v=4"
             alt="Welington Matuzinho da Silva" title="Welington Matuzinho da Silva" />
    </a>
</div>
