<link rel="icon" href="../imagens/miniatura_logo.png" />
<link href="../dist/output.css" rel="stylesheet" />

<div
  class="container flex justify-between items-center mx-auto h-full w-full p-10"
>
  <div class="w-1/4">
    <img src="./imagens/homempensando.png" id="imghomem" />
  </div>
  <form
    method="post"
    action="./index.php?controle=quiz&acao=comecar"
    id="comecar"
  >
    <div class="w-1/2 mx-auto">
      <img
        src="./imagens/quiz.png"
        id="imgquiz"
        alt="logo_quiz"
        class="mx-auto h-auto w-auto"
      />

      <br /><br />

      <p>Selecione um QUIZ</p>
      <select
              class="w-auto mt-2 items-center justify-center p-2 outline-none text-gray-700 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-inset focus:ring-gray-500"
              id="quizzes" name="quizzes" required>
              {% for quiz in quizzes %}
              <option value="{{ quiz.id }}" {{ quiz.id==nome.quiz.id ? "selected" : "" }}>{{ quiz.nome }}
              </option>
              {% endfor %}
            </select>

      <br /><br />

      <button
        type="submit"
        class="select-none justify-center mx-auto"
        id="imgcomeca"
      >
        <img src="./imagens/comeca.png" alt="Comecar" class="h-auto w-auto" />
      </button>
    </div>
  </form>
  <div class="w-1/4">
    <img src="./imagens/laptop.png" id="imglaptop" />
  </div>
</div>
