<link rel="icon" href="../imagens/miniatura_logo.png" />
<link href="../dist/output.css" rel="stylesheet" />

<div
  class="container flex justify-between items-center mx-auto h-full w-full p-10"
>
  <div class="w-1/4">
    <img src="./imagens/homempensando.png" id="imghomem" />
  </div>
  <form
    method="post"
    action="./index.php?controle=quiz&acao=comecar"
    id="comecar"
  >
    <img
    src="./imagens/quiz.png"
    id="imgquiz"
    alt="logo_quiz"
    class="mx-auto h-auto w-auto"
    />
    <div class="w-1/2 mx-auto">
      <br /><br />
      <div class="mx-auto text-center">
        <p class="font-bold text-gray-700 text-xl">Selecione um QUIZ</p>
        <select
                class="w-auto mt-2 items-center justify-center p-2 outline-none text-gray-700 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-inset focus:ring-gray-500"
                id="quizzes" name="quizzes" required>
                {% for quiz in quizzes %}
                <option value="{{ quiz.id }}" {{ quiz.id==nome.quiz.id ? "selected" : "" }}>{{ quiz.nome }}
                </option>
                {% endfor %}
              </select>

        <br /><br /> <br>

        <button type="submit" id="imgcomeca" class="select-none justify-center mx-auto bg-red-400 hover:bg-red-500 text-white font-bold py-3 px-6 rounded-full shadow-lg hover:text-white shadow-white transform transition-all duration-500 ease-in-out hover:scale-110 hover:brightness-110 hover:animate-pulse active:animate-bounce">
        Começar
      </button>
      </div>
    </div>
  </form>
  <div class="w-1/4">
    <img src="./imagens/laptop.png" id="imglaptop" />
  </div>
</div>
