<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Quiz Estatístico</title>
        
        <link rel="stylesheet" href="./css/layout.css">
        
        <script src="{{JS_DIR}}/jquery/dist/jquery.js"></script>
    </head>
    <body>
        {{ include("menu.html") }}
        
        {{ include(pagina) }}
    </body>
</html>