<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Estatística</title>
        
        <link rel="stylesheet" href="./css/menu.css" />
        <!-- <link rel="stylesheet" href="./css/layout.css" /> -->
        <!-- <link rel="stylesheet" href="./css/layout_max.css" />  -->
        
       <script src="{{JS_DIR}}/jquery/dist/jquery.js"></script>
        <script  src="./js/layout.js"></script> 
    </head>
    
    <body>
		{{ include("menu.html") }}
		<div class="content slideRight page" id="tela">
			
        
			{{ include(pagina) }} 
          
			
		</div>
		</div>
    </body>
    <script>


$(function() {

	var items = $('.slideRight, .slideLeft');
	var content = $('.content');
	
	var open = function() {
							$(items).removeClass('close').addClass('open');
						}
	var close = function() { 
							$(items).removeClass('open').addClass('close');
						}

	$('#navToggle').click(function(){
		if (content.hasClass('open')) {$(close)}
		else {$(open)}
	});
	content.click(function(){
		if (content.hasClass('open')) {$(close)}
	});

});

    </script>
</html>
