<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="logo.png">

        <title>Quiz Estatístico</title>

        <link rel="stylesheet" href="./css/login.css">
    </head>
    <body>        
        <nav class="painel">
            <form method="post" action="index.php?controle=principal&acao=logar">
                <table>
                    <tr>
                        <td>
                            <div class="paineldiv">
                                <center>
                                    <!-- Apenas para direcionar para tela de menu do admin, futuramente pode remover <a></a> by Mayko -->
                                        <img src="./imagens/logo.png" class="logo">
                                    </a>
                                    <div>   

                                    </div>
                                </center>   
                            </div>
                        </td>

                        <td>
                            <div class="cadastro">
                                <table class="tabela-login" border="0">
                                    <tr>
                                        <th><h2>Bem Vindo</h2></th>
                                    </tr>

                                    <tr>

                                    </tr>

                                    <tr >
                                        <td id="esqsenha">
                                            <a href="./index.php?controle=usuario&amp;acao=esqueci_senha">Esqueceu a Senha</a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            <input type="email" placeholder="Email" class="input-longo" name="email"
                                                   value="usuario@gmail.com" />
                                        </td>                    
                                    </tr>

                                    <tr>
                                        <td colspan="2" >
                                            <input type="password" placeholder="Senha" class="input-longo" name="senha"
                                                   value="123456"/>
                                        </td>                                        
                                    </tr>
                                    <label class="Lembrar">
                                        <input type="checkbox"> Lembrar
                                        <span class="checkmark"></span>
                                    </label>
                                    <tr>
                                        <td>
                                    <center>
                                        <button type="submit">Entrar</button>
                                    </center>
                                    </td>
                                    </tr>                
                                </table>
                            </div> 
                        </td>
                    </tr>
                </table>
            </form>
	<div style = "position:relative; left:25%";><button onclick="window.location.href = 'index.php?controle=usuario&acao=cadastre_se'">CADASTRE-SE</button></div>
        </nav>
	<div id="imagemlogin">
	 <img src="./imagens/Loginimagem.png" alt="fotologin" height="350" width="500">
	</div>
    </body>
</html> 
