<nav>
    <img src="./imagens/miniatura_logo.png" id="logo">
    <div id="divmenu">
        <div>
            <a class="menu" href="./index.php?controle=principal&acao=inicio">Inicio</a>
        </div>

        <div>
            <button class="menu">Perguntas</button>
        </div>

        <div>
            <button class="menu">Pontuacao</button>
        </div>

        <div>
            <a class="menu" href="./index.php?controle=principal&acao=conteudos">Conteudos</a>
        </div>

        <div>
            <button class="menu">Rank</button>
        </div>
    </div>
</nav>
