<div class="menu">
    <header class="slideRight" id="header_menu">
        <!-- Add "slideRight" class to items that move right when viewing Nav Drawer -->
        <ul id="navToggle" class="burger slideRight">
            <!-- Add "slideRight" class to items that move right when viewing Nav Drawer -->
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h1><a href="./index.php?controle=principal&acao=inicio">VI Gincana de Estatística</a></h1>
    </header>
    <nav class="slideLeft">
        <ul>
            <li><a href="./index.php?controle=principal&acao=inicio" class="active"><i class="dgicon-home"></i> Início</a></li>
            <li><a href="./index.php?controle=principal&acao=conteudos"><i class="dgicon-tools"></i> Conceitos</a></li>
            <li><a href="./index.php?controle=principal&acao=quiz"><i class="dgicon-vcard"></i> Quiz Estatístico</a></li>
            <li><a href="./index.php?controle=calculadora&acao=opcoes"><i class="dgicon-vcard"></i> Calcule</a></li>
            <li><a href="./index.php?controle=principal&acao=expediente"><i class="dgicon-window"></i>Expediente</a></li>
            <li><a href="./index.php?controle=administrador&acao=login"><i class="dgicon-window"></i>Admin</a></li>
            <li><a href="./index.php?controle=principal&acao=deslogar"><i class="dgicon-window"></i>Deslogar</a></li>
        </ul>
    </nav>

