<link rel="stylesheet" type="text/css" href="../css/admin/menu/menu_painel_administrativo.css">
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-menu-inicial">
  <div class="container-fluid">
    <a class="navbar-brand" href="./index.php?controle=principal&acao=inicio">SLab</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="./index.php?controle=principal&acao=conteudos">Conceitos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.php?controle=quiz&acao=quiz">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.php?controle=calculadora&acao=opcoes">Calcule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./index.php?controle=terminalinterativo&acao=mostrar_terminal">Terminal</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="./index.php?controle=rank&acao=inicio">Ranking</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ usuario.primeiroNome }}
          </a>
          <ul class="dropdown-menu" style="left: -100px">
            <li>
              <a class="dropdown-item" href="./index.php?controle=administrador&acao=login" target="_blank"
                >Painel Administrativo</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="./index.php?controle=principal&acao=deslogar">Sair</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
