<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="planodefundo">
<form method="post" action="./index.php?controle=quiz&acao=responder">
    <link rel="stylesheet" href="./css/styleperg.css">
    
    <div id="logopergunta">
        <img src="./imagens/quiz.png">
    </div>
    
    <div id="tabelapergunta">
        
        
    <div id="fundopergunta"> 
    <div class="texto1">
        <p id="tx">Pergunta: Texto texto texto texto texto texto texto texto texto texto 
        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
        texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
        </p>
    </div>
    </div> 
        <p id="opcao">
            Escolha uma opção: 
        </p>
    <div id="A">
        <input type="button" class="button" value="A">
    </div>  

    <div id="B">
        <input type="button" class="button" value="B">
    </div>

    <div id="C">
        <input type="button" class="button" value="C">
    </div>

    <div id="D">
        <input type="button" class="button" value="D">
    </div>

    <div id="txtpontuacao">
        <h1>Pontuação:</h1>
    </div>

    <div id="vlpontuacao">
        <h1>20</h1> 
   </div>

    <div id="prox">
        <input type="button" class="buttonprox" value="Proximo">
        </div>
    </div>


</form>
    
</div>