<form method="post" action="./index.php?controle=quiz&acao=responder">
    <div id="painelperguntas">
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <p id="pergunta">Perguntas: Texto texto texto texto texto texto texto texto texto texto 
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                                texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <center>
                                    <button class="questao">A</button>
                                </center>    
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <button class="questao">B</button>
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <button class="questao" >C</button>
                                </center>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <button class="questao">D</button>
                                </center>
                            </td>
                        </tr>  
                        <tr>
                            <td>
                                <center>
                                    <button class="questao">E</button>
                                </center>
                            </td>
                        </tr>                                     

                    </table>
                </td>
                <td>
                    <table id="tabelapontuacao">
                        <tr>
                            <td>
                                <img src="./imagens/quiz.png">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <center>
                                    <h1 id="textopontuacao">Pontuacao:</h1>
                                </center>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <center>
                                    <div id="pontuacao">
                                        <h1>20</h1>
                                    </div>
                                </center>
                            </td>
                        </tr>                            

                        <tr>
                            <td style="padding: 25px;">
                                <center>
                                    <button typ="submit" id="proximo">Proximo</button>
                                </center>
                            </td>
                        </tr>                            
                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>