<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ranking dos Melhores Usuários</title>
    <link rel="icon" href="../imagens/miniatura_logo.png" />
    <link href="../dist/output.css" rel="stylesheet" />
    <script src="{{JS_DIR}}/jquery/dist/jquery.js"></script>
  </head>
  <body class="bg-white">
    <br />

    <!-- Conteúdo principal -->
    <div
      class="bg-white px-4 w-full text-sm md:text-base md:border-2 md:shadow-md md:shadow-grey-900 md:rounded-lg md:max-w-lg md:mx-auto md:px-8 md:py-4"
    >
      <form action="index.php?controle=rank&acao=selecionar" class="space-y-4" method="post">
        <div class="bg-white p-4 space-y-4 rounded-lg shadow-md mb-4">
          <label for="buscarId" class="block text-lg text-gray-700 font-semibold">Buscar usuário no rank</label>
          <div class="flex items-center justify-end space-x-4">
            <input type="text" name="id" id="id" placeholder="Digite o id do usuário para buscar" class="w-full mt-2 p-2 outline-none text-gray-700 rounded-md ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-1 focus:ring-inset focus:text-gray-900 focus:ring-gray-500">
            <input type="submit" name="btnBuscar" id="btnBuscar" value="Buscar" class="bg-red-500 hover:bg-red-700 text-white items-center font-medium py-2 px-6 rounded-full"></input>
          </div>
          <div id="resultado" class="container space-y-4 text-md">
            {% if rank != null %}
            <div class="bg-green-400 text-center" role="alert">
              {{ mensagem }}
            </div>
            {% else %}
            <div class="bg-red-400 text-center">
              {{ mensagem }}
            </div>
            {% endif %}
            <div>
              <div>
                <span class="text-gray-700 font-semibold">ID: </span>
                <span>{{ rank.id }}</span>
              </div>
              <div>
                <span class="text-gray-700 font-semibold">Nome: </span>
                <span>{{ rank.usuario }}</span>
              </div>
              <div>
                <span class="text-gray-700 font-semibold">Pontuação total: </span>
                <span>{{ rank.pontuacao }}</span>
              </div>
              <div>
                <span class="text-gray-700 font-semibold">Total de acertos: </span>
                <span>{{ rank.acerto }}</span>
              </div>
              <div>
                <span class="text-gray-700 font-semibold">Total de erros: </span>
                <span>{{ rank.erro }}</span>
              </div>
              <div>
                <span class="text-gray-700 font-semibold">Curso: </span>
                <span>{{ rank.curso }}</span>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- Lista de Ranking -->
      <div class="max-w-md mx-auto">
        <!-- Usuário 1 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">1</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário A</h2>
            <p class="text-gray-600">Pontuação: 950</p>
          </div>
        </div>

        <!-- Usuário 2 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">2</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário B</h2>
            <p class="text-gray-600">Pontuação: 890</p>
          </div>
        </div>

        <!-- Usuário 3 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">3</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário C</h2>
            <p class="text-gray-600">Pontuação: 820</p>
          </div>
        </div>

        <!-- Usuário 4 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">4</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário D</h2>
            <p class="text-gray-600">Pontuação: 780</p>
          </div>
        </div>

        <!-- Usuário 5 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">5</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário E</h2>
            <p class="text-gray-600">Pontuação: 650</p>
          </div>
        </div>

        <!-- Usuário 6 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">6</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário F</h2>
            <p class="text-gray-600">Pontuação: 600</p>
          </div>
        </div>

        <!-- Usuário 7 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">7</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário G</h2>
            <p class="text-gray-600">Pontuação: 560</p>
          </div>
        </div>

        <!-- Usuário 8 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">8</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário H</h2>
            <p class="text-gray-600">Pontuação: 550</p>
          </div>
        </div>

        <!-- Usuário 9 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">9</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário I</h2>
            <p class="text-gray-600">Pontuação: 500</p>
          </div>
        </div>

        <!-- Usuário 10 -->
        <div class="flex items-center bg-white p-4 rounded-lg shadow-md mb-4">
          <div class="mr-4">
            <span class="text-4xl font-semibold text-red-500">10</span>
          </div>
          <div>
            <h2 class="text-lg font-semibold">Usuário J</h2>
            <p class="text-gray-600">Pontuação: 250</p>
          </div>
        </div>

        <!-- Adicione mais usuários conforme necessário -->
      </div>
    </div>
    <br />
  </body>
</html>
