<meta charset="utf-16">
<style>
 .texto {
	background-color:FFFFFF;
        width:280px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
        border-radius: 25px;}
  .bot {
	background-color:FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	float: right;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
	border:none;
	border-radius: 25px;}
</style>
<body style="background-color: FF0000;">
 <center><img src="./imagens/logo.png" class="logo"></center><br>
 <center> 
 <div class="texto">
 Conceitos fundamentais
 </div>
 <div class="texto">
 Medidas separatrizes
 </div>
 </center>
 <br>
 <center>
  <div class="texto">
  Tabelas
  </div>
 <div class="texto">
  Medidas de dispersão
 </div>
 </center>
 <br>
 <center>
  </div>
 <div class="texto">
  Distribuição de frequência
 </div>
 <div class="texto">
  Medidas descritivas
 </div>
 </center>
 <br>
 <center>
 <div class="texto">
  Gráficos
 </div>
 <div class="texto">
  Outro
 </div>
 </center>
 <br>
 <button class="bot"; onclick="window.location.href = 'ranks2.html';">PRÓXIMO</button>
</body>