<meta charset="utf-16">
<style>
 .texto {
	background-color:FFFFFF;
        width:280px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
        border-radius: 25px;}
 .pont {
	background-color:FFFFFF;
        width:50px;
	height:22px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
        border-radius: 25px;}
  .bot {
	background-color:FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	float: right;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
	border:none;
	border-radius: 25px;}
</style>
<body style="background-color: FF0000;">
 <center><img src="./imagens/logo.png" class="logo"></center><br>

  <center>
  <div class="texto">
  Perguntas
  </div>
 </center>
 <br>
 <center>
 <div class="texto">
 A
 </div>
 <div class="texto">
 B
 </div>
 </center>
 <br>
 <center>
 <div class="texto">
 C
 </div>
 <div class="texto">
 D
 </div>
 </center>
 <br>
 <center>
 <div class="texto">
 Pontuação:
 </div>
 <div class="pont">
 20
 </center>
 <button class="bot"; onclick="window.location.href = 'ranks4.html';">PRÓXIMO</button>
</body>