<meta charset="utf-16">
<style>
 .leg1{
        width:280px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	color:FFFF00;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;}
 .leg2{
        width:50px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	color:FFFF00;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
 }
 .texto {
	background-color:FFFFFF;
        width:280px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
        border-radius: 25px;}
 .pont {
	background-color:FFFFFF;
        width:50px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
        border-radius: 25px;}
  .bot {
	background-color:FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	float: right;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
	border:none;
	border-radius: 25px;}
</style>
<body style="background-color: FF0000;">
 <center><img src="./imagens/logo.png" class="logo"></center><br>
 <center><div class="leg1">
  Nome
 </div>
 <div class="leg2">
 Pontuação
 </div>
 </center>
 <br>
 <center> 
 <div class="texto">
 Pedro
 </div>
 <div class="pont">
 50
 </div>
 </center>
 <br>
 <center>
  <div class="texto">
  Felipe
  </div>
 <div class="pont">
 45
 </div>
 </center>
 <br>
 <center>
  <div class="texto">
  João
  </div>
 <div class="pont">
 32
 </div>
 </center>
 <br>
 <center>
  <div class="texto">
  Maria
  </div>
 <div class="pont">
 25
 </div>
 </center>
 <br>
  <center>
  <div class="texto">
  Eliza
  </div>
 <div class="pont">
 17
 </div>
 </center>
 <br>
  <center>
  <div class="texto">
  Paulo
  </div>
 <div class="pont">
 11
 </div>
 </center>
 <button class="bot";">PRÓXIMO</button>
</body>