<meta charset="utf-16">
<style>
 .texto {
	background-color:FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
        border-radius: 25px;}
  .bot {
	background-color:FFFFFF;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	float: right;
	font-family:Roboto Serif;
	font-size:22px;
	padding:16px 12px;
	text-decoration:none;
	border:none;
	border-radius: 25px;}
</style>
<body style="background-color: FF0000;">
 <center><img src="./imagens/logo.png" class="logo"></center><br>
 <center> 
 <div class="texto">
 Conceitos fundamentais
 </div>
 </center>
 <br>
 <center> 
 <div class="texto">
 O que é estatística descritiva?
 A estatística descritiva é o ramo da estatística que visa sumarizar e descrever qualquer conjunto de dados. Em outras palavras, é aquela estatística que está preocupada em sintetizar os dados de maneira direta, preocupando-se menos com variações e intervalos de confiança dos dados. Exemplos de estatística descritivas são a média, o desvio padrão e a mediana.
 <br>
 Agora eu te pergunto: você domina os conceitos de estatística descritivas simples que estamos tão acostumados a ver no dia a dia? Média, mediana, desvio padrão, variância, etc? Se sua resposta é não, ou mais ou menos, este post vai te ajudar!  Aqui, temos como objetivo apresentar esses conceitos de forma simples e aprofundae-se um pouco mais em cada um deles.
 </div>
 </center>
 <br>
 <button class="bot"; onclick="window.location.href = 'ranks3.html';">IR PARA O QUIZ</button>
</body>