<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Questõs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../../css/admin/cadastro/tela_cadastro.css">

    </head>
    <body class="background">

        <div class="d-flex justify-content-center align-items-center p-5">
            <div class="card-quest card w-50 shadow p-3 mb-5 bg-body-tertiary rounded">
                <div class="card-header text-center">
                    {% if questao.id == "" %}
                        <h2>Cadastro de Temas</h2>
                    {% else %}
                        <h2>Editar Temas</h2>
                    {% endif %}
                </div>

        <form method="post" action="./index.php?controle=questao&acao=salvar">
            <br />
            {% if mensagem != "" %}
                <div class="alert alert-{{ tipo_mensagem }}" role="alert">
                    {{ mensagem }}
                </div>
            {% endif %}
            <br />

            <div>
                <!-- Ocultar id, desnecessário exibir, foi usado apenas para verificação de funcionabilidade by Mayko -->
                <!--
                <div class="form-floating mb-3">-->
                    <input class="form-control" type="hidden" name="id" id="id " value="{{ questao.id }}" placeholder="name@example.com"/>
                   <!-- <label for="id">ID</label>
                </div>
                <br/><br/>-->
                

                <!-- lista por radio by Mayko
                
                <div>
                <label for="nivel">Nível</label>
                <br />
                {% for item in niveis %}
                <INPUT TYPE="RADIO" NAME="nivel" VALUE="{{ item.id }}"  {{ item.id == questao.nivel ? "checked":""  }}> {{ item.nivel }}
                {% endfor %}
                </div>
                
                <div>
                <label for="curso">Curso</label>
                <br />
                {% for item in cursos %}
                <INPUT TYPE="RADIO" NAME="curso" VALUE="{{ item.id }}"  {{ item.id == questao.curso ? "checked":""  }}> {{ item.nome }}
                {% endfor %}
                </div>
                <br />
                
                <div>
                <label for="tema">Tema</label>
                <br />
                {% for item in temas %}
                <INPUT TYPE="RADIO" NAME="tema" VALUE="{{ item.id }}"  {{ item.id == questao.tema ? "checked":""  }}> {{ item.tema }}
                {% endfor %}
                </div>
                <br />
                
                -->

                <!-- lista por select by Mayko -->

                <div class="form-floating">
                    <select class="form-select" id="nivel floatingSelect" name="nivel" aria-label="Floating label select example">
                        <option selected>Selecione o nível</option>
                        {% for item in niveis %}
                        <option value="{{ item.id }}" {{ item.id == questao.nivel ? "selected":""  }}>{{ item.nome }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Nível</label>
                </div>
                  
                <br>

                <div class="form-floating">
                    <select class="form-select" id="curso floatingSelect" name="curso" aria-label="Floating label select example">
                        <option selected >Selecione o curso</option>
                        {% for item in cursos %}
                        <option value="{{ item.id }}" {{ item.id == questao.curso ? "selected":""  }}>{{ item.nome }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Cursos</label>
                </div>

                <br>

                <div class="form-floating">
                    <select class="form-select" id="tema floatingSelect" name="tema" aria-label="Floating label select example">
                        <option value="">Selecione o tema</option>
                        {% for item in temas %}
                        <option value="{{ item.id }}" {{ item.id == questao.tema ? "selected":""  }}>{{ item.nome }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Temas</label>
                </div>

                <br>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="resposta_certa floatingTextarea2" name="pergunta" style="height: 150px">{{ questao.pergunta }}</textarea>
                    <label for="floatingTextarea2">Pergunta</label>
                </div>

                <br>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="resposta_certa floatingTextarea2" name="resposta_certa" style="height: 100px">{{ questao.resposta_certa }}</textarea>
                    <label for="floatingTextarea2">Resposta Certa</label>
                </div>

                <br>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="resposta_errada1 floatingTextarea2" name="resposta_errada1" style="height: 100px">{{ questao.resposta_errada1 }}</textarea>
                    <label for="floatingTextarea2">Resposta Errada 1</label>
                </div>

                <br>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="resposta_errada2 floatingTextarea2" name="resposta_errada2" style="height: 100px">{{ questao.resposta_errada2 }}</textarea>
                    <label for="floatingTextarea2">Resposta Errada 2</label>
                </div>

                <br>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="resposta_errada3 floatingTextarea2" name="resposta_errada3" style="height: 100px">{{ questao.resposta_errada3 }}</textarea>
                    <label for="floatingTextarea2">Resposta Errada 3</label>
                </div>

                <br>
                
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="explicacao floatingTextarea2" name="explicacao" style="height: 150px">{{ questao.explicacao }}</textarea>
                    <label for="floatingTextarea2">Explicação</label>
                </div>

                <br>

                <div class="text-center">
                    {% if questao.id == "" %}
                        <button class="btn btn-success custom-btn" type="submit">Cadastrar</button>
                    {% else %}
                        <button class="btn btn-success custom-btn" type="submit">Salvar</button>
                    {% endif %}
                    <a class="btn btn-danger custom-btn-cadastrados" href="./index.php?controle=questao&amp;acao=listar">Questões Cadastradas</a>
                </div>
                
            </div>

        </form>
    </body>
    
</html>