<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Questõs</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cadastro de Questões</h1>

        <form method="post" action="./index.php?controle=questao&acao=salvar">
            {{ mensagem}}
            <br /><br />

            <div>

                <!-- Ocultar id, desnecessário exibir, foi usado apenas para verificação de funcionabilidade by Mayko -->
                <label for="id">ID</label>
                <input type="text" name="id" id="id" value="{{ questao.id }}"/>
                <br /><br />


                <!-- lista por radio by Mayko
                
                <div>
                <label for="nivel">Nível</label>
                <br />
                {% for item in niveis %}
                <INPUT TYPE="RADIO" NAME="nivel" VALUE="{{ item.id }}"  {{ item.id == questao.nivel ? "checked":""  }}> {{ item.nivel }}
                {% endfor %}
                </div>
                
                <div>
                <label for="curso">Curso</label>
                <br />
                {% for item in cursos %}
                <INPUT TYPE="RADIO" NAME="curso" VALUE="{{ item.id }}"  {{ item.id == questao.curso ? "checked":""  }}> {{ item.nome }}
                {% endfor %}
                </div>
                <br />
                
                <div>
                <label for="tema">Tema</label>
                <br />
                {% for item in temas %}
                <INPUT TYPE="RADIO" NAME="tema" VALUE="{{ item.id }}"  {{ item.id == questao.tema ? "checked":""  }}> {{ item.tema }}
                {% endfor %}
                </div>
                <br />
                
                -->

                <!-- lista por select by Mayko -->

                <div>
                    <label for="nivel">Nível</label>
                    <select id="nivel" name="nivel">
                        <option value="">Selecione o nível</option>
                        {% for item in niveis %}
                        <option value="{{ item.id }}" {{ item.id == questao.nivel ? "selected":""  }}>{{ item.nivel }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br />

                <div>
                    <label for="curso">Curso</label>
                    <select id="curso" name="curso">
                        <option value="">Selecione o curso</option>
                        {% for item in cursos %}
                        <option value="{{ item.id }}" {{ item.id == questao.curso ? "selected":""  }}>{{ item.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br />

                <div>
                    <label for="tema">Tema</label>
                    <select id="tema" name="tema">
                        <option value="">Selecione o tema</option>
                        {% for item in temas %}
                        <option value="{{ item.id }}" {{ item.id == questao.tema ? "selected":""  }}>{{ item.tema }}</option>
                        {% endfor %}
                    </select>
                </div>
                <br />

                <label for="pergunta">Pergunta</label>
                <br />
                <textarea id="resposta_certa" name="pergunta" style="width:400px; height:75px;">
{{ questao.pergunta }}
                </textarea>
                <br /><br />

                <label for="resposta_certa">Resposta certa</label>
                <br />
                <textarea id="resposta_certa" name="resposta_certa" style="width:400px; height:75px;">
{{ questao.resposta_certa }}
                </textarea>
                <br /><br />

                <label for="resposta_errada1">Resposta Errada 1</label>
                <br />
                <textarea id="resposta_errada1" name="resposta_errada1" style="width:400px; height:75px;">
{{ questao.resposta_errada1 }}
                </textarea>
                <br /><br />

                <label for="resposta_errada2">Resposta Errada 2</label>
                <br />
                <textarea id="resposta_errada2" name="resposta_errada2" style="width:400px; height:75px;">
{{ questao.resposta_errada2 }}
                </textarea>
                <br /><br />

                <label for="resposta_errada3">Resposta Errada 3</label>
                <br />
                <textarea id="resposta_errada3" name="resposta_errada3" style="width:400px; height:75px;">
{{ questao.resposta_errada3 }}
                </textarea>
                <br /><br />

                <label for="explicacao">Explicação</label>
                <br />
                <textarea id="explicacao" name="explicacao" style="width:400px; height:75px;">
{{ questao.explicacao }}
                </textarea>
                <br /><br />

                <input type="submit" value="Salvar" />
            </div>

        </form>
    </body>
</html>