<link rel="stylesheet" type="text/css" href="../../../css/admin/listagem/tela_listagem.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="container-sm">
    <h2>Listagem de Questões</h2><hr><br>
    
    {{ mensagem }}

    <table class="table table-responsive table-bordered table-hover shadow-sm p-3 mb-5 bg-body-tertiary rounded table-overflow">
        <thead class="thead">
            <tr>
                <th class="custom-question">ID </th>
                <th class="custom-question">Nível</th>
                <th class="custom-question">Curso</th>
                <th class="custom-question">Tema</th>
                <th class="custom-question">Pergunta</th>
                      
                <th class="custom-question-opcoes">Opções</th>
            </tr>
        </thead>
        
    <tbody class="text-center">
        {% for item in lista %}
        <tr>
            <td>
                {{ item.id }}
            </td>
            
            <td>
                {{ item.nivel }}
            </td>
            <td>
                {{ item.curso }}
            </td>
            <td>
                {{ item.tema }}
            </td>
            <td class="alinhamento">
                {{ item.pergunta }}
            </td>
            
            <td class="text-center">
                <a class="btn btn-outline-primary" href="./index.php?controle=questao&acao=selecionar&id={{ item.id }}"><span class="material-symbols-outlined">edit</span></a>
                <a class="btn btn-outline-danger" href="./index.php?controle=questao&acao=excluir&id={{ item.id }}"><span class="material-symbols-outlined">delete</span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

    <a class="btn btn-danger custom-btn" href="./index.php?controle=questao&acao=novo">Criar nova questão</a>
   <br><br>
   </div>